{template 'header.html'}
<div id="bd">
 {template 'left.html'}<!-- 调用通用左栏 -->
<div id="bd_right">
      	<div class="box">
            {template 'position.html'}
            <div class="content">
            	<div class="pd_title"></div>
                       <div class="pd">
<ul class="news_list">
<!-- 内容列表循环 -->
{loop $archives $i $archive}
<li><span class="date">{$archive[adddate]}</span><a title="{$archive[stitle]}" target="_blank" href="{$archive[url]}">{$archive[title]}</a></li>
{/loop}
</ul>
<div class="blank30"></div>
<!-- 内容列表分页 -->
{if isset($pages)}
{category_pagination($catid)}
{/if}<div class="blank30"></div>
</div>
            </div>
            </div>
      </div>
      <div class="clear"></div>
    </div>
{template 'footer.html'}