{template 'header.html'}
<div id="bd">
 {template 'left.html'}<!-- 调用通用左栏 -->
<div id="bd_right">
      	<div class="box">
            <div class="title1g">
            	<div class="title1_left"><img src="{$skin_path}/lv_10g.gif" /></div>
           	<div class="title1g_wd">{lang(nowposition)}</div>
                <div class="more1g"><a title="{get('sitename')}" href="{$base_url}">{get('sitename')}</a> &gt;&gt; <a title="{lang(searchresult)}" href="#">{lang(searchresult)}</a></div>
          </div>
            <div class="content">
            	<div class="pd_title"><span style="color:red;font-weight:bold;"> "{$keyword}" </span>{lang(searchresults)}：</div>
                
                <ul class="ul2g">
                {loop $articles $article}
		        {cb_data($article)}
                    <li><span class="date">{$article['adddate']}</span> <a href="{$article[url]}"><?php if($keyword) echo str_replace($keyword,"<span style=color:red;font-weight:bold;>$keyword</span>",$article['title']); else { ?>{$article[title]}<?php } ?></a></li>
                {/loop}
              </ul>

	<div class="blank10"></div>
	<!-- 内容列表分页 -->
	<div class="pages">
		<?php echo pagination::html($record_count,5); ?>
	</div>
<div class="blank10"></div>
            </div>
            </div>
      </div>
      <div class="clear"></div>
    </div>
{template 'footer.html'}