{template 'header.html'}
<div id="bd">
    	<div id="bdleft">
    		{template 'left.html'}
        </div>
        <div id="bd_right2">     	
{loop categories($catid) $t}
                <div class="box">
                	<div class="em">
                    	<div class="bd_right_title"><div class="title_img"><img src="{$skin_path}/tz_10.gif" /></div>
<div class="title1"><span><a title="{$t[catname]}" target="_blank" href="{$t[url]}">{$t[catname]}</a></span></div>
                <div class="more2"><a title="{$t[catname]}" href="{$t[url]}">more</a></div>
          </div>
                       <div class="pd">
					{loop archive($t[catid],0,0,'0,0,0',16,'aid',6,true,0) $i $archive} 
			<div class="product_box">
			<a title="{$archive[stitle]}" target="_blank" href="{$archive[url]}"><img alt="{$archive[stitle]}" src="{$archive[sthumb]}" /></a>
			<h5><a title="{$archive[stitle]}" target="_blank" href="{$archive[url]}">{$archive[title]}</a></h5>
		</div>
			{/loop}
	<div class="clear"></div>
					   </div>
					   <div class="clear"></div>
                    </div>
                </div>
				<div class="blank10"></div>
		{/loop}
<div class="b"></div>
        </div>
        </div>
{template 'footer.html'}