{template 'header.html'}
<div id="bd">
		<div class="left_box">    	
            {template 'left.html'}
   		</div>
    	<div id="bd_rightg">
          {template 'position.html'}
                    <div class="content1">
                 <div class="blank30"></div>
                <ul id="list-view">
<!-- 内容缩略图列表 -->
<ul id="list-view">
{loop $archives $i $archive}
{if $i%4==0}<div class="clear blank5"></div>{else}{/if}
<li><div class="img-wrap"><a title="{$archive['stitle']}" target="_blank" href="{$archive['url']}"><img alt="{$archive['stitle']}" src="{$archive['sthumb']}" onerror='this.src="{$base_url}/{config::get('onerror_pic')}"' /></a></div>
<h5><a title="{$archive['stitle']}" target="_blank" href="{$archive['url']}">{$archive['title']}</a></h5>{if $archive['attr2']}{lang(price)}	:	<span>{$archive['attr2']}</span>{lang(unit)}{/if}
</li>
{/loop}
</ul>
<!-- 内容缩略图列表结束 -->
		</ul>
		<div class="blank10"></div>
		{if isset($pages)}
{category_pagination($catid)}
{/if}<div class="pd">
					   <div class="blank30"></div>
		<a title="返回顶部" href="#" class="clear floatright"><img alt="返回顶部" src="{$skin_url}/gotop.gif"></a>
	<div class="clear"></div>
					   </div>
          </div>
    	</div>
    </div>
<div class="clear"></div>
{template 'footer.html'}