{template 'header.html'}
<div id="bd">
		<div class="left_box">    	
            {template 'left.html'}
   		</div>
    	<div id="bd_rightg">
          {template 'position.html'}
                    <div class="content1">
                        <div class="pd_title">{$archive[title]}</div>
                       <div class="pd">
					  
<div class="contentinfo">作者：{$archive[author]}&nbsp;&nbsp; 发布时间：{$archive[adddate]}&nbsp;&nbsp; 浏览 :{view_js($archive[aid])}</div>

<div class="blank10"></div>
<!-- 正文 -->
<div id="content" style="width:640px;" class="text">
<div class="sitemap">
			<style type="text/css">
				.sitemap {padding:10px 50px;}
				.sitemap h2 {line-height:22px;font-size:14px;margin:5px 0px;padding-left:20px;background:url({$skin_path}/down.gif) left top no-repeat;color:#333;}
				.sitemap h2 a {color:#333;}
				.sitemap h3,.sitemap h4,.sitemap h5, {font-size:12px;padding-left:40px;font-weight:normal;color:#555;}
				.sitemap h3 a,.sitemap h4 a,.sitemap h5 a {color:#555;font-size:12px;font-weight:normal;}
			</style>
			<h2><a title="网站首页" target="_blank" href="{$base_url}/">首页</a></h2>
			{loop type() $t}
			<h2><a title="{$t[typename]}" target="_blank" href="{$t[url]}">{$t[typename]}</a></h2>
				{loop type($t) $t1}
				<h3><a title="{$t1[typename]}" target="_blank" href="{$t1[url]}">{$t1[typename]}</a></h3>
					{loop type($t1) $t2}
					<h4><a title="{$t2[typename]}" target="_blank" href="{$t2[url]}">{$t2[typename]}</a></h4>
						{loop type($t2) $t3}
						<h5><a title="{$t3[typename]}" target="_blank" href="{$t3[url]}">{$t3[typename]}</a></h5>
						{/loop}
					{/loop}
				{/loop}
			{/loop}
		</div>
</div>
<div class="blank30"></div>

					   <div class="blank30"></div>
		<a title="返回顶部" href="#" class="clear floatright"><img alt="返回顶部" src="{$skin_url}/gotop.gif"></a>
	<div class="clear"></div>
					   </div>
          </div>
    	</div>
    </div>
<div class="clear"></div>

<script> 
function resizeImg(obj)
{ 
var obj = document.getElementById(obj); 
var objContent = obj.innerHTML;
var imgs = obj.getElementsByTagName('img'); 
if(imgs==null) return; 
for(var i=0; i<imgs.length; i++) 
{ 
if(imgs[i].width>parseInt(obj.style.width)) 
{ 
imgs[i].width = parseInt(obj.style.width);
} 
} 
} 
window.onload = function() {resizeImg('content');
} 
</script>
{template 'footer.html'}