{template 'header.html'}
<div id="bd">
      <div id="bd_right">
        <div class="bd_right_gg">
        <div class="box2">
		{template 'position.html'}
            	
                <div class="content3">
                	<div class="pd_title">{type::getpositionhtml($type['typeid'])}</div>
                       <div class="pd">
					   <div id="text" style="widht:600px;">
{$type[typecontent]}
</div>
</div>
                </div>
            </div>
        </div>
      </div>

	  <div id="bd_left">
        	{template 'left.html'}
        </div>

      <div class="clear"></div>
    </div>


<script> 
function resizeImg(obj)
{ 
var obj = document.getElementById(obj); 
var objContent = obj.innerHTML;
var imgs = obj.getElementsByTagName('img'); 
if(imgs==null) return; 
for(var i=0; i<imgs.length; i++) 
{ 
if(imgs[i].width>parseInt(obj.style.width)) 
{ 
imgs[i].width = parseInt(obj.style.width);
} 
} 
} 
window.onload = function() {resizeImg('text');
} 
</script>
{template 'footer.html'}