{template 'header.html'}
<table width="948" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="4" background="{$skin_path}/middle_bg1.jpg">&nbsp;</td>
    <td valign="top">{template 'left.html'}</td>
      <td width="724" valign="top"><table width="706" border="0" align="right" cellpadding="0" cellspacing="0">
          <tr>
            <td width="706" height="28" style="background:url({$skin_path}/btbg.gif) repeat-x left bottom;"><table width="706" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="470" style="color:#CC0000"><img src="{$skin_path}/arr4.gif" width="11" height="11" style="margin-right:6px;" align="absmiddle" />{typename($typeid)}</td>
                <td width="236" align="right" style="color:#999999" id="position"><a title="{get('sitename')}" href="{$base_url}">{get('sitename')}</a>{loop position($typeid) $t}<a title="{$t['name']}" href="{$t.url}">{$t['name']}</a>{/loop}</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="20">&nbsp;</td>
          </tr>
          <tr>
            <td>
            <div class="newCenter" onmouseover="this.style.borderColor='#87D4F6';" onmouseout="this.style.borderColor='';">
              <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="155" valign="top"><img src="{$skin_path}/news01.jpg" alt="" width="120" height="200" border="0" style="margin:1px;" /></td>
                  <td width="547" valign="top"><table width="530" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                    
                    <tr>
                      <td width="530"><div>
{loop $archives $archive}
		<dl class="news_text">
			<a href="{$archive[url]}" class="news_text_img"><img src="{$archive['sthumb']}" alt="{$archive[stitle]}" /></a>
			<dt><span class=date>{$archive[adddate]}</span><a title="{$archive[stitle]}" href="{$archive[url]}">{$archive[title]}</a></dt>
			<dd>{cut(strip_tags($archive['content']),140)}…<a title="{$archive[stitle]}" href="{$archive[url]}">{lang(more)}</a></dd>
		</dl>
		{/loop}
		</div>
		<div class="blank30"></div>
		{if isset($pages)}
{category_pagination($catid)}
{/if}
		<div class="clear"></div>
</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                  </table></td>
                </tr>
              </table>
            </div></td>
          </tr>
          <tr>
            <td height="20">&nbsp;</td>
          </tr>
        </table>
        </td>
      </tr>      
    </table></td>
    <td width="4" background="{$skin_path}/middle_bg2.jpg">&nbsp;</td>
  </tr>
</table>
<table width="948" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="948"><img src="{$skin_path}/btm_bg.jpg" width="948" height="7" /></td>
  </tr>
</table>
{template 'footer.html'}