<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>{if !empty($archive[mtitle])}{$archive[mtitle]}-{elseif !empty($archive[title])}{$archive[title]}-{else}{if $type[meta_title]}    {$type[meta_title]}-{elseif typename($type[typeid])}{typename($type[typeid])}-{/if}{if $category[$catid][meta_title]}{$category[$catid][meta_title]}-{elseif !empty($catid)}{catname($catid)}-{/if}{/if}{get('fullname')}</title>
<meta name="keywords" content="{if $archive[keyword]}{$archive[keyword]}{else}{if $type[keyword]}{$type[keyword]}{elseif $category[$catid][keyword]}{$category[$catid][keyword]}{else}{get('site_keyword')}{/if}{/if}" />
<meta name="description" content="{if $archive[description]}{$archive[description]}{else}{if $type[description]}{$type[description]}{elseif $category[$catid][description]}{$category[$catid][description]}{else}{get('site_description')}{/if}{/if}" />
<meta name="author" content="CmsEasy Team" />
<link rel="icon" href="{$base_url}/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{$base_url}/favicon.ico" type="image/x-icon" />
<link href="{$skin_path}/reset.css" rel="stylesheet" type="text/css" />
<link href="{$skin_path}/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.logo {width:{get('logo_width')}px; height:{get('logo_height')}px; background:url({$base_url}/{get('site_logo')}) center center no-repeat;}
</style>
<script language="javascript" type="text/javascript">
function killerrors()
{
return true;
}
window.onerror = killerrors;
</script>
<!--用于PNG图片在IE6下透明-->
<!--[if IE 6]>
<script src="{$skin_path}/js/png.js"></script>
<script>
  DD_belatedPNG.fix('.logo');
  DD_belatedPNG.fix(' .cfooter');
  DD_belatedPNG.fix('.cleft_box .cright');
  DD_belatedPNG.fix('.cleft_box_content .cfooter');
  DD_belatedPNG.fix('.cleft_box_content .cheader');
</script>
<![endif]--> 
</head>
<body>
<div id="main">
	<div id="header">
        <div class="header_logo"><div class="logo"><a title="{get(sitename)}" href="{$base_url}/"></a></div></div>
        <div class="header_top"><span class="top_wd">+　<a id="StranLink" title="繁简转换">繁体中文</a> +　<a href="{$site_url}" onclick="window.external.addFavorite(this.href,this.title);return false;" title='公司名称' rel="sidebar">加入收藏</a> +　<a title="留言" href="{url('guestbook')}" target="_blank">访客留言</a></span></div>
  </div>
	<div class="header_nav">
    	<div class="header_left"><img src="{$skin_path}/ls_4.gif" /></div>
        <div class="header_right">
        	<div class="nav_l">
            	<ul class="nav_ul">
                  <li><a title="{lang(homepage)}" href="{$base_url}/"{if $typeid==0} class="on"{/if}>{lang(homepage)}</a></li>
{loop categories_nav() $t}
<li>|</li>
<li><a title="{$t[catname]}" href="{$t[url]}"{if isset($topid) && $topid==$t[catid]} class="on"{/if}>{$t[catname]}</a></li>
{/loop}
				</ul>
            </div>
            <div class="nav_r"></div>
        </div>
	</div>
    <div class="header_banner" style="width:980px;height:{get(slide_height)}px;overflow:hidden;">
{template 'system/slide.html'}
</div>