{template 'header.html'}
 <div id="bd">
 <div class="bd_top"><img src="{$skin_url}/gg_8.gif" /></div>
{template 'left.html'}
<!--left_1 end-->

<div class="right_2">
 <div class="title">
<img src="{$skin_url}/gg_18.gif" style="float:left;margin-left:15px;" /><h3>{$type[$typeid][typename]}</h3>
  {template 'position.html'}
</div>
   <div class="box_borderg">
		{loop type($typeid) $i $t}
		<div class="category_title">
			<span><a title="{$type[typename]}" href="{typeurl($t[typeid])}">更多</a></span><a title="{$type[typename]}" href="{typeurl($t[typeid])}"><h4>{$t[typename]}</h4></a>
		</div>
		<ul class="news_list">
			{loop article($t[typeid],20,'aid',10,true,'') $i $archive}
			<li class="list{=$i+1}"><span class="date">{$archive[adddate]}</span><a title="{$archive[stitle]}" href="{$archive[url]}">{$archive[title]}</a></li>
			{/loop}
		</ul>
		{/loop}
		
<div class="blank30"></div>
		<a title="返回顶部" href="#" class="goback"><img alt="返回顶部" src="{$skin_url}/gotop.gif"></a>
	<div class="clear"></div>
   </div>
</div>
<div class="clear"></div>
</div>
<!--box end-->
{template 'footer.html'}