{template 'header.html'}
<div id="bd">
	<div id="bd_left">
    	{template 'left.html'}
        	
    </div>
    <div id="bd_right">
    	<div class="bd_rightp">
    	{template 'position.html'}
              <div class="bd_rightp_content">
                	<div class="pd_title">{$announ[title]}</div>
                       <div class="pd">
{$announ[content]}
                    <div class="blank30"></div>
		<a title="返回顶部" href="#" class="clear floatright"><img alt="返回顶部" src="{$skin_url}/gotop.gif"></a>
		<div class="blank30"></div>
		</div>
              </div>
              <div class="clear"></div>
       </div> 
    </div>
</div>
<div class="clear"></div>
{template 'footer.html'}