{template 'header.html'}
 <div id="bd">
 <div class="bd_top"><img src="{$skin_url}/gg_8.gif" /></div>
{template 'left.html'}
<!--left_1 end-->

<div class="right_2">
 <div class="title">
<img src="{$skin_url}/gg_18.gif" style="float:left;margin-left:15px;" /><h3>{$type[$typeid][typename]}</h3>
  {template 'position.html'}
</div>
     <div class="box_borderg">
       {loop $archives $i $archive}
		<div class="news_text">
			<h5><span class=date>{$archive[adddate]}</span><a title="{$archive[stitle]}" href="{$archive[url]}">{$archive[title]}</a></h5>
			<p>{cut(strip_tags($archive['introduce']),100)}…<a title="{$archive[stitle]}" href="{$archive[url]}">[详细]</a><p>
			<span class="strgrade">推荐：{$archive[strgrade]}</span>
			<div class="clear"></div>
		</div>
		{/loop}
		<div class="blank10"></div>
		{if isset($pages)}
		{category_pagination($catid)}
		{/if}
		<div class="blank30"></div>
		<a title="返回顶部" href="#" class="goback"><img alt="返回顶部" src="{$skin_url}/gotop.gif"></a>
        <div class="clear"></div>
        </div>
     <div class="clear"></div>
     </div>
 <div class="clear"></div>
</div>
<!--box end-->
{template 'footer.html'}