{template 'header.html'}
<div id="bd">
    	<div class="bd_center">
            {template 'position.html'}
          <div id="bd_right">
          	<div class="box2">
			

<div class="content1">
<ul class="ul2">
{loop $archives $i $sp}
<li><span class="date">{$sp[adddate]}</span><a title="{$sp[title]}" target="_blank" href="{$sp[url]}">{$sp[title]}</a></li>
{/loop}
</ul>
<div class="blank10"></div>
<!-- 内容列表分页 -->
{if isset($pages)}
{special::pagination()}
{/if}

</div>
          	</div>
          </div>
    	</div>

<div id="bd_left">
{template 'left.html'}
 </div>

<div class="clear"></div>
    </div>
<!-- 调用页底模板 -->
{template 'footer.html'}