{template 'header.html'}
<div id="c">
<div id="left">
{template 'left.html'}
</div>

<div id="right">
{template 'position.html'}

<div class="blank10"></div>
	{loop $archives $i $archive}
		<div class="product_box">
			<div class="p_box"><a title="{$archive[stitle]}" target="_blank" href="{$archive[url]}"><img alt="{$archive[stitle]}" src="{$archive[sthumb]}" onerror='this.src="{$base_url}/{config::get('onerror_pic')}"' /></a></div>
			<h5><a title="{$archive[stitle]}" target="_blank" href="{$archive[url]}">{$archive[title]}</a></h5>
		</div>
		{/loop}
		
		<div class="clear"></div>
		<div class="blank10"></div>
		<!-- 内容列表分页 -->
		{if isset($pages)}
		{category_pagination($catid)}
		{/if}
</div>
<div class="clear"></div>
</div>
{template 'footer.html'}