{template 'header.html'}
<div id="c">
<div id="left">
{template 'left.html'}
</div>

<div id="right">
{template 'position.html'}
<div id="text">

<div class="blank10"></div>

<div class="contenttext">
<div class="blank10"></div>
<h4><span style="color:red;font-weight:bold;"> “{$keyword}” </span>{lang(searchresults)}：</h4>
<ul class="news_list">
{loop $articles $article}
<li>[ <a href="{$article[typeurl]}">{$article[typename]}</a> ] <a href="{$article[url]}"><?php if($keyword) echo str_replace($keyword,"<strong>$keyword</strong>",$article['title']); else { ?>{$article[title]}<?php } ?></a><span class="date">{$article['adddate']}</span>
<p>{cut(strip_tags($article['content']),80)}</p></li>
{/loop}
</ul>
<div class="blank10"></div>
<div class="pages">
		<?php echo pagination::html($record_count,5); ?>
	</div>
</div>
<div class="blank10"></div>

</div>
</div>
<div class="clear"></div>
</div>
{template 'footer.html'}