<div id="foot">
<?php $t=position_p($typeid=1);?>
<a href="{$t.url}" title="{$t['name']}">{$t['name']}</a>	|	
<?php?>
<!-- {loop archive(1,0,0,'0,0,0',20,'aid',10,false,0) $i $archive} -->
<a href="{$archive[url]}" title="{$archive[stitle]}">{$archive[title]}</a>	|	
<!-- {/loop} --><?php $t=position_p($typeid=5);?>
<a href="{$t.url}" title="{$t['name']}">{$t['name']}</a>	|	
<?php?>
<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={get(qq1)}&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:{get(qq1)}:41" alt="点击这里给我发消息" title="点击这里给我发消息"></a>
<br />
{get(site_right)} <a title="{get('sitename')}" href="{$base_url}/">{get('sitename')}</a> All Rights Reserved.
<a href="http://www.miibeian.gov.cn/" target="_blank">{get('site_icp')}</a>
<br />热门关键词：{gethotsearch(10)}
<!-- 非商业用户请勿删除 -->
<div class="copyright"><a href="http://www.cmseasy.cn" title="Powered by CmsEasy" target="_blank">Powered by CmsEasy</a>
 &nbsp;&nbsp;{getcnzzcount()}</div>

</div>
</div>
<!-- 在线客服 -->
{template 'system/servers.html'}
<!-- 短信 -->
{template 'system/sms.html'}

{if get('lang_type')=='cn'}<script type="text/javascript" src="{$base_url}/js/tc.js"></script>{/if}
</body>
</html>