{template 'header.html'}
<div id="bd2j">
<div id="bd_box">
<div id="bd_leftg">
{template 'left.html'}
<div>
<img src="{$skin_path}/hy_11.gif" width="250" height="62" /></div>
</div>
<div id="bd_rightg">
{template 'position.html'}

<div class="pd">
<div id="content" style="width:620px;">
<!-- 内容_内容简介列表 -->
<ul class="news_list">
			{loop $archives $i $archive}
            <li><span class="date">{$archive[adddate]}</span><a title="{$archive[stitle]}" target="_blank" href="{$archive[url]}">{$archive[title]}</a></li>
			{/loop}
        </ul>
        <div class="blank10"></div>
		{if isset($pages)}
		{tag::pagination($tag)}
		{/if}

<div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
<div class="blank30"></div>

</div>
</div>
</div>
<div class="clear"></div>
</div>
{template 'footer.html'}