<div id="left">


<!--左侧栏目导航开始-->
<div id="menu">
<ul>
<li><a class="on">	+	{lang(quicknav)}</a></li>
<?php $__pid = getcategoryparentsid($catid);?>
{loop categories_nav() $t}
<li class="clear"><a title="{$t[catname]}" target="_blank" href="{$t[url]}" class="one{if isset($topid) && $topid==$t[catid]} on{/if}">{$t[catname]}</a>
<ul> {loop categories($t[catid]) $t1}
<li><a title="{$t1[catname]}" target="_blank" href="{$t1[url]}">{$t1[catname]}</a>
<ul>{loop categories($t1[catid]) $t2}
<li><a title="{$t2[catname]}" target="_blank" href="{$t2[url]}">{$t2[catname]}</a>
<ul>{loop categories($t2[catid]) $t3}
<li><a title="{$t3[catname]}" target="_blank" href="{$t3[url]}">{$t3[catname]}</a>
<ul>{loop categories($t3[catid]) $t4}
<li><a title="{$t4[catname]}" target="_blank" href="{$t4[url]}">{$t3[catname]}</a>
<ul>{loop categories($t4[catid]) $t5}
<li><a title="{$t5[catname]}" target="_blank" href="{$t4[url]}">{$t3[catname]}</a></li> 
{/loop}</ul>
</li> 
{/loop}</ul>
</li>
{/loop}</ul>
</li>
{/loop}</ul>
</li> 
{/loop}</ul>
</li>{/loop}
</ul>
</div>
<!--左侧栏目导航结束-->

<div class="blank10"></div>


<div class="left_box">
<div class="title">{lang(contentspecial)}</div>
<ul>
<!-- {loop special::listdata() $special} -->
<li><a href="{$special[url]}" title="{$special[title]}">{$special[title]}</a></li>
<!-- {/loop} -->
</ul>
</div>


<div class="title">{lang(arealist)}</div>
<ul class="area_box">
<!-- {loop area::listdata(0,50) $area} -->
<a href="{$area[url]}" title="{$area[name]}">{$area[shortname]}</a>
<!-- {/loop} -->
<div class="clear"></div>
</ul>

<div class="left_box">
<div class="title">{lang(contactus)}</div>
<ul>
<li>{lang(address)}：{get(address)}</li>
<li>{lang(tel)}：{get(tel)}</li>
<li>{lang(fax)}：{get(fax)}</li> 
<li>{lang(email)}：{get(email)}</li> 
</ul>
</div>

<div class="left_box">
<div class="title">{lang(mailsubscription)}</div>
<ul style="margin:10px;">
<form name="listform" id="listform"  action="<?php echo url('archive/email');?>" method="post">
<input type="text" name="email" style="height:18px;width:130px;" value=""> <input type="submit" value="确认" name="submit" style="height:22px;padding:0px 5px;" />
</form>
</ul>
</div>




</div>

