{template 'header.html'}
<div id="bd">
    	<div class="bd_center">
            {template 'position.html'}
          <div id="bd_right">
          	<div class="box2">
			

<div class="content1">

<ul class="ul2">
			{loop $archives $i $archive}
			<li><span class="date">{$archive[adddate]}</span><a title="{$archive[stitle]}" target="_blank" href="{$archive[url]}">{$archive[title]}</a></li>
			{/loop}
		</ul>
		<div class="blank10"></div>
		{if isset($pages)}
		{area::pagination($areaid)}
		{/if}

</div>
          	</div>
          </div>
    	</div>

<div id="bd_left">
{template 'left.html'}
 </div>

<div class="clear"></div>
    </div>
<!-- 调用页底模板 -->
{template 'footer.html'}