{template 'header.html'}
<div class="box line_4">
{template 'left.html'}
<div class="right_2">
{template 'position.html'}
<div id="title">
			<h1>{type::getpositionhtml($type['typeid'])}</h1>
<div id="text" style="width:710px;">

{$type[typecontent]}

<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
<!--box end-->

<script> 
function resizeImg(obj)
{ 
var obj = document.getElementById(obj); 
var objContent = obj.innerHTML;
var imgs = obj.getElementsByTagName('img'); 
if(imgs==null) return; 
for(var i=0; i<imgs.length; i++) 
{ 
if(imgs[i].width>parseInt(obj.style.width)) 
{ 
imgs[i].width = parseInt(obj.style.width);
} 
} 
} 
window.onload = function() {resizeImg('text');
} 
</script>
{template 'footer.html'}