<div class="clear"></div>
        <div id="footer"><div class="pb">{get(site_right)} <a title="{get('sitename')}" href="{$base_url}/">{get('sitename')}</a> All Rights Reserved.      
{getcnzzcount()}  <a href="http://www.miibeian.gov.cn/" target="_blank">{get('site_icp')}</a><br />
<?php $t=position_p($typeid=1);?>
<a href="{$t.url}" title="{$t['name']}">{$t['name']}</a>	|	
<?php?>
<!-- {loop archive(1,0,0,'0,0,0',20,'aid',10,false,0) $i $archive} -->
<a href="{$archive[url]}" title="{$archive[stitle]}">{$archive[stitle]}</a>	|	
<!-- {/loop} --><?php $t=position_p($typeid=5);?>
<a href="{$t.url}" title="{$t['name']}">{$t['name']}</a>	|	
<?php?>
{login_js()}	|	
<a href="#">TOP</a></div><div class="foot_img"><img src="{$skin_path}/gd_15.gif" /></div></div>
    </div>


<!-- 友情链接 -->
{if $topid==0}<select name="website" onchange="javascript:window.open(this.options[this.selectedIndex].value)" style="float:right; margin-top:10px;">
<option value="default">{lang('links')}</option>
{loop friendlink('text',0,20) $flink}
<option value="{$flink[url]}">{$flink[name]}</option>
{/loop}
</select>{/if}

</div>

<!-- 非商业用户请勿删除 -->
<div class="copyright">{if $topid==0}<!-- 热门关键词 -->
<div class="hot_keys">{lang(hotkeys)}： {gethotsearch(10)}</div>{/if}</div>
{template 'system/servers.html'}
</body>
</html>