{template 'header.html'}
<div id="bd">
    	<div id="bd_leftg">
    	  {template 'left.html'}
    	</div>
      <div id="bd_rightg">
<div class="box">
            	{template 'position.html'}
                <div class="content">
                	<div class="pd_title">{type::getpositionhtml($type['typeid'])}</div>
                       <div id="text" class="pd" style="width:665px;">

{$type[typecontent]}

</div>
                </div>
            </div>
            
            </div>
<div class="clear"></div>
    </div>


<script> 
function resizeImg(obj)
{ 
var obj = document.getElementById(obj); 
var objContent = obj.innerHTML;
var imgs = obj.getElementsByTagName('img'); 
if(imgs==null) return; 
for(var i=0; i<imgs.length; i++) 
{ 
if(imgs[i].width>parseInt(obj.style.width)) 
{ 
imgs[i].width = parseInt(obj.style.width);
} 
} 
} 
window.onload = function() {resizeImg('text');
} 
</script>
{template 'footer.html'}