  <div class="box1">
              	
                <div class="content1">
            <ul class="ul2g">
            <!--左侧栏目导航开始-->

<div id="menu">

<?php
if(front::get('case') == 'area'){
?>
<dl id="leftmenu">
<dt class="parent" id="p1">{area::getpositonhtml(get('province_id'),get('city_id'),get('section_id'),get('id'))}</dt>
</dl>           
<?php
}elseif(front::get('case') == 'announ'){
?>
<dl id="leftmenu">
<dt class="parent" id="p1"><a>{lang(siteannoun)}</a></dt>
</dl>
<?php
}elseif(front::get('case') == 'guestbook'){
?>
<dl id="leftmenu">
<dt class="parent" id="p1"><a>{lang('guestbook')}</a></dt>
</dl>
<?php
}elseif(front::get('case') == 'comment'){
?>
<dl id="leftmenu">
<dt class="parent" id="p1"><a>{lang('commentlist')}</a></dt>
</dl>
<?php
}elseif(front::get('case') == 'type'){
?>



<dl id="leftmenu">

{loop type() $t}
<dt class="parent" id="p1"><a href="{$t[url]}" {if isset($topid) && $topid==$t[typeid]}class="current"{/if}>{$t[typename]}</a></dt>
<!--loop一级目录-->
<dd class="child">{loop type($t) $t1}
<a href="{$t1[url]}" {if isset($typeid) && $typeid==$t1[typeid]}class="current"{/if}>&nbsp;└	{$t1[typename]}</a>
<!--loop二级目录...-->
{loop type($t1) $t2}
<a href="{$t2[url]}" {if isset($typeid) && $typeid==$t2[typeid]}class="current"{/if}>&nbsp;&nbsp;└{$t2[typename]}</a>
<!--loop三级目录...-->
{loop type($t2) $t3}
<a href="{$t3[url]}" {if isset($typeid) && $typeid==$t3[typeid]}class="current"{/if}>&nbsp;&nbsp;&nbsp;└{$t3[typename]}</a>
{/loop}
{/loop}
{/loop}
</dd>
{/loop}
</dl>     

<?php
}elseif(front::get('case') == 'special'){
?>
<dl id="leftmenu">
<dt class="parent" id="p1"><a>{$special[title]}</a></dt>
</dl>              
<?php
}elseif(front::get('case') == 'tag'){
?>
<dl id="leftmenu">
<dt class="parent" id="p1"><a>{$tag}</a></dt>
</dl>
<?php
}elseif(front::get('case') == 'mailsubscription'){
?>
<dl id="leftmenu">
<dt class="parent" id="p1"><a>{lang(mailsubscription)}</a></dt>
<?php
}else{
?>



<!--只展开当前栏目所在一级栏目下的分类-->
<?php $__pid = getcategoryparentsid($catid);?>

<dl id="leftmenu">
{loop categories() $t}
{if $t[catid]==$__pid}
<div class="title1">
                	<div class="title1_left">{$t[catname]}</div>
                    <div class="title1_right"><img src="{$skin_path}/images/eg_15.gif" /></div>
                </div>

<dd class="child">
{loop categories($t[catid]) $t1}
<a title="{$t1[catname]}" href="{$t1[url]}"{if $t1[catid]==$catid} class="on"{/if}>&nbsp;└	{$t1[catname]}</a>
{loop categories($t1[catid]) $t2}  
<a title="{$t2[catname]}" href="{$t2[url]}"{if $t2[catid]==$catid} class="on"{/if}>&nbsp;&nbsp;└{$t2[catname]}</a>  
{loop categories($t2[catid]) $t3}  
<a title="{$t3[catname]}" href="{$t3[url]}"{if $t3[catid]==$catid}  class="on"{/if}>&nbsp;&nbsp;&nbsp;└{$t3[catname]}</a>  
{/loop}  
{/loop}  
{/loop}
</dd>{/if}
{/loop}
<!--只展开当前栏目所在一级栏目下的分类-->
</dl>

<?php
}
?>

</div>
<!--左侧栏目导航结束-->
            </ul>
                
               </div>
              </div>
              
			<div class="box2">
              	<div class="title2">
                	<div class="title1_left">{lang(contactus)}</div>
                    <div class="title1_right"><img src="{$skin_path}/images/eg_17.gif" /></div>
                </div>
                <div class="content1">
            <div class="p1">
<ul style="padding:0px 0px 0px 15px;">
<li>{lang(address)}：{get(address)}</li>
<li>{lang(tel)}：{get(tel)}</li>
<li>{lang(fax)}：{get(fax)}</li> 
<li>{lang(email)}：{get(email)}</li> 
</ul>
</div>
                
               </div>
              </div>
