{template 'header.html'}<!-- 调用页头模板 -->
<div id="c">
{template 'position.html'}<!-- 调用导航模板 -->
<!-- 右侧内容 -->
<div id="right">
<div style="padding:30px 0px 0px 15px;">
<ul class="news_list">
<!-- 内容列表循环 -->
{loop $archives $i $archive}
<li><span class="date">{$archive[adddate]}</span><a title="{$archive[stitle]}" target="_blank" href="{$archive[url]}">{$archive[title]}</a></li>
{/loop}
</ul>
<div class="blank30"></div>
<!-- 内容列表分页 -->
{if isset($pages)}
{category_pagination($catid)}
{/if}

<div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
<div class="blank30"></div>

</div>
</div>

{template 'left.html'}<!-- 调用通用左栏 -->

<div class="clear"></div>
</div>
<!-- 调用页底模板 -->
{template 'footer.html'}