<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>{if !empty($archive[mtitle])}{$archive[mtitle]}-{elseif !empty($archive[title])}{$archive[title]}-{else}{if $type[meta_title]}    {$type[meta_title]}-{elseif typename($type[typeid])}{typename($type[typeid])}-{/if}{if $category[$catid][meta_title]}{$category[$catid][meta_title]}-{elseif !empty($catid)}{catname($catid)}-{/if}{/if}{get('fullname')}</title>
<meta name="keywords" content="{if $archive[keyword]}{$archive[keyword]}{else}{if $type[keyword]}{$type[keyword]}{elseif $category[$catid][keyword]}{$category[$catid][keyword]}{else}{get('site_keyword')}{/if}{/if}" />
<meta name="description" content="{if $archive[description]}{$archive[description]}{else}{if $type[description]}{$type[description]}{elseif $category[$catid][description]}{$category[$catid][description]}{else}{get('site_description')}{/if}{/if}" />
<meta name="author" content="CmsEasy Team" />
<link rel="icon" href="{$base_url}/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{$base_url}/favicon.ico" type="image/x-icon" />
<link href="{$skin_path}/reset.css" rel="stylesheet" type="text/css" />
<link href="{$skin_path}/base.css" rel="stylesheet" type="text/css" />
<!--用于PNG图片在IE6下透明-->
<!--[if IE 6]>
<script src="{$skin_path}/js/png.js"></script>
<script>
  DD_belatedPNG.fix('.logo');
  DD_belatedPNG.fix(' .cfooter');
  DD_belatedPNG.fix('.cleft_box .cright');
  DD_belatedPNG.fix('.cleft_box_content .cfooter');
  DD_belatedPNG.fix('.cleft_box_content .cheader');
</script>
<![endif]--> 
<style type="text/css">
.logo {width:{get('logo_width')}px; height:{get('logo_height')}px; background:url({$base_url}/{get('site_logo')}) center center no-repeat;}
</style>
<script language="javascript" type="text/javascript">
function killerrors()
{
return true;
}
window.onerror = killerrors;
</script>
</head>
<body>
<div id="body">
<div id="main">

<div id="sidebar">
<!-- logo -->
<div class="logo"><a title="{get(sitename)}" href="{$base_url}/"></a></div>
<div id="top">

<a title="{lang(feedback)}" href="{url('guestbook')}" target="_blank"> {lang(feedback)} -	</a>
<a href="{$site_url}" onclick="window.external.addFavorite(this.href,this.title);return false;" title='{get(sitename)}' rel="sidebar"> {lang(favorite)} -	</a>
{if get('lang_type')=='cn'}<a id="StranLink" title="繁简转换">繁体</a>  -  {/if}
{login_js()}
</div>

<div id="nav">
<a title="{lang(backhome)}" href="{$base_url}/" {if $catid==0} class="on"{/if} style="border:none;">{lang(homepage)}</a>
{loop categories_nav() $t}
<a title="{$t[catname]}" href="{$t[url]}"{if isset($topid) && $topid==$t[catid]} class="on"{/if}>{$t[catname]}</a>
{/loop}
</div>

<div id="banner">
<div class="banner">
{template 'system/slide.html'}
</div>
</div>
