<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>{if !empty($archive[mtitle])}{$archive[mtitle]}-{elseif !empty($archive[title])}{$archive[title]}-{/if}{if $type[meta_title]}{$type[meta_title]}-{elseif typename($type[typeid])}{typename($type[typeid])}-{/if}{if $category[$catid][meta_title]}{$category[$catid][meta_title]}-{elseif !empty($catid)}{catname($catid)}-{/if}{get('fullname')}</title>
<meta name="keywords" content="{if $archive[keyword]}{$archive[keyword]}{else}{if $type[keyword]}{$type[keyword]}{elseif $category[$catid][keyword]}{$category[$catid][keyword]}{else}{get('site_keyword')}{/if}{/if}" />
<meta name="description" content="{if $archive[description]}{$archive[description]}{else}{if $type[description]}{$type[description]}{elseif $category[$catid][description]}{$category[$catid][description]}{else}{get('site_description')}{/if}{/if}" />
<meta name="author" content="CmsEasy Team" />
<link rel="icon" href="{$base_url}/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{$base_url}/favicon.ico" type="image/x-icon" />
<link href="{$skin_path}/reset.css" rel="stylesheet" type="text/css" />
<link href="{$skin_path}/style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
<!-- 
function ResumeError()  
{ 
    return true; 
} 
window.onerror = ResumeError; 
function check()
{
if(document.search.keyword.value.length==0){
     alert("{lang(pleaceinputtext)}");
     document.search.keyword.focus();
     return false;
    }

	}
// --> 
</script>
<style type="text/css">
.logo {width:{get('logo_width')}px; height:{get('logo_height')}px; background:url({$base_url}/{get('site_logo')}) center center no-repeat;}
</style>
<!--用于PNG图片在IE6下透明-->
<!--[if IE 6]>
<script src="{$skin_path}/js/png.js"></script>
<script>
  DD_belatedPNG.fix('.logo');
  DD_belatedPNG.fix(' .cfooter');
  DD_belatedPNG.fix('.cleft_box .cright');
  DD_belatedPNG.fix('.cleft_box_content .cfooter');
  DD_belatedPNG.fix('.cleft_box_content .cheader');
</script>
<![endif]--> 
</head>
<body>
<div id="main">
  <div id="header">
  	<div class="logo"><a title="{get(sitename)}" href="{$base_url}/"></a></div>
    <div class="top">
        <div class="top_box">

            <div class="top_wd"><span style="padding-right:8px;"><a href="{$site_url}" onclick="window.external.addFavorite(this.href,this.title);return false;" title='{get(sitename)}' rel="sidebar">加入收藏</a></span></div> 
<div class="top_wd"><span style="padding-right:8px;"><a title="留言" href="{url('guestbook')}" target="_blank">访客留言</a></span></div> 
<div class="top_wd"><span style="padding-right:8px;"><a id="StranLink" title="繁简转换">繁体</a></span></div> 
<div class="top_wd"><span style="padding-right:8px;"><a href="{$base_url}/index.php?case=user&act=login">会员中心</a></span></div> 
        </div>
    </div>
    <div class="nav">
    <div class="nav_l"><img src="{$skin_path}/tyn_6.gif" /></div>
    <div class="nav_c">
    	<ul class="nav_ul">

 <li><a title="{lang(backhome)}" href="{$base_url}/" class="on">{lang(homepage)}</a></li>
{loop categories_nav() $t}
 <li><img src="{$skin_path}/tyn_7.gif" /></li>
        <li><a title="{$t[catname]}" href="{$t[url]}"{if isset($topid) && $topid==$t[catid]} class="on"{/if}>{$t[catname]}</a></li>
{/loop}
        </ul>
    </div>
    </div>
    <div class="banner">
    	<div class="banner_bg"></div>
        <div class="search_box">
            <div class="search_box_l">
                <div class="serach_wd">产品搜索</div>
				<form name='search' action="<?php echo url('archive/search');?>" onsubmit="search_check();" method="post">
<div class="serach_input"><input name="keyword" type="text" align="absmiple" size="38" /></div>
<div class="serach_bt"><input type="image" src="{$skin_path}/tyn_9.gif" align="absmiple" name='submit' value=" " /></div>
</form>
            </div>
            <div class="search_box_c"><img src="{$skin_path}/tyn_20.gif" /></div>
            <div class="search_box_r">全国招商热线：<span class="chengwd">{get(tel)}</span>  企业邮箱：<span class="chengwd">{get(email)}</span> </div>
        </div>
    </div>
  </div>
<div class="blank5"></div>