{template 'header.html'}
<div id="bd">
    	<div class="bd_center">
            {template 'position.html'}
          <div id="bd_right">
          	<div class="box2">
			

<div class="content1">
<div id="title"><h1>{$category[$catid][catname]}</h1></div>
<div id="text">

<!-- 内容 -->
{$category[$catid][categorycontent]}

<div class="blank30"></div>

{template 'ditu.html'}

</div>
          	</div>
          </div>
    	</div>

<div id="bd_left">
{template 'left.html'}
 </div>

<div class="clear"></div>
    </div>
<!-- 中部结束 -->


<script> 
function resizeImg(obj)
{ 
var obj = document.getElementById(obj); 
var objContent = obj.innerHTML;
var imgs = obj.getElementsByTagName('img'); 
if(imgs==null) return; 
for(var i=0; i<imgs.length; i++) 
{ 
if(imgs[i].width>parseInt(obj.style.width)) 
{ 
imgs[i].width = parseInt(obj.style.width);
} 
} 
} 
window.onload = function() {resizeImg('content');
} 
</script>
{template 'footer.html'}