{template 'header.html'}
<div id="bd">
    	<div id="bd_left">
        	{template 'left.html'}
        </div>
      <div id="bd_right">
      	<div class="box">
            	{template 'position.html'}
                <div class="content">
                	<div id="content" class="p20" style="width:590px;">
					<div class="pd_title"><h1>{$category[$catid][catname]}</h1></div>
<div class="blank20"></div>

<!-- 内容 -->
{$category[$catid][categorycontent]}

<div class="blank30"></div>

{template 'ditu.html'}

</div>
                </div>
            </div>
      </div>
      <div class="clear"></div>
    </div>


<script> 
function resizeImg(obj)
{ 
var obj = document.getElementById(obj); 
var objContent = obj.innerHTML;
var imgs = obj.getElementsByTagName('img'); 
if(imgs==null) return; 
for(var i=0; i<imgs.length; i++) 
{ 
if(imgs[i].width>parseInt(obj.style.width)) 
{ 
imgs[i].width = parseInt(obj.style.width);
} 
} 
} 
window.onload = function() {resizeImg('content');
} 
</script>
{template 'footer.html'}