{template 'header.html'}
<div class="clear"></div>
        <div id="bd">
        	<div id="bd_leftg">
            	
            	{template 'left.html'}

			</div>              
            <div id="bd_rightg">
            	{template 'position.html'}
              <div class="content">
                       <div id="content" style="width:640px;" class="pd">

{loop $archives $i $archive}
		<div class="news_text">
			<h5><span class=date>{$archive[adddate]}</span><a title="{$archive[stitle]}" href="{$archive[url]}">{$archive[title]}</a></h5>
			<p>{cut(strip_tags($archive['introduce']),100)}…<a title="{$archive[stitle]}" href="{$archive[url]}">[{lang(more)}]</a><p>
			<div class="clear"></div>
		</div>
		{/loop}
		<div class="blank10"></div>
		{if isset($pages)}
{category_pagination($catid)}
{/if}
		
		<div class="blank30"></div>
		<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
	<div class="clear"></div>
</div>
                </div>
          </div>
        </div>

{template 'footer.html'}