{template 'header.html'}
<div class="clear"></div>
        <div id="bd">
        	<div id="bd_leftg">
            	
            	{template 'left.html'}

			</div>              
            <div id="bd_rightg">
 {loop type($typeid) $i $t}
            	<div class="titlegg"><span class="floatright"><a title="{$t[catname]}" href="{category::url($t[catid])}">more</a></span><span class="hui14c"><a title="{$t[catname]}" href="{category::url($t[catid])}">{$t[catname]}</a></span><span class="huieg">News</span></div>
              <div class="content">
                       <div class="blank20"></div>
{loop archive($t[catid],0,0,'0,0,0',20,'aid',10,false,0) $i $archive}
			<div class="product_box">
			<a title="{$archive[stitle]}" target="_blank" href="{$archive[url]}"><img alt="{$archive[stitle]}" src="{$archive[sthumb]}" onerror='this.src="{$base_url}/{config::get('onerror_pic')}"' /></a>
			<h5><a title="{$archive[stitle]}" target="_blank" href="{$archive[url]}">{$archive[title]}</a></h5>
		</div>
			{/loop}
		
<div class="blank10"></div>
                
          </div>
		{/loop}
		<div class="blank30"></div>
		<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
	<div class="clear"></div>
</div>
        </div>

{template 'footer.html'}