{template 'header.html'}
<div id="bd">
    	<div class="bd_bg_left">
        	<div class="bd_bg_right">
            
            	<div id="bd_leftg">
                	{template 'left.html'}
                        

                </div>
                <div id="bd_rightg">
                	<div class="right_content">
                    	{template 'position.html'}
                        <div class="content">
							
                            <div class="content_content">

					  <!-- 内容缩略图列表 -->
<ul id="list-view">
{loop $archives $i $archive}
{if $i%4==0}<div class="clear blank5"></div>{else}{/if}
<li><div class="img-wrap"><a title="{$archive['stitle']}" target="_blank" href="{$archive['url']}"><img alt="{$archive['stitle']}" src="{$archive['sthumb']}" onerror='this.src="{$base_url}/{config::get('onerror_pic')}"' /></a></div>
<h5><a title="{$archive['stitle']}" target="_blank" href="{$archive['url']}">{$archive['title']}</a></h5>{if $archive['attr2']}{lang(price)}	:	<span>{$archive['attr2']}</span>{lang(unit)}{/if}
</li>
{/loop}
</ul>
<!-- 内容缩略图列表结束 -->

<div class="clear"></div>
		<div class="blank10"></div>
		<!-- 内容列表分页 -->
		{if isset($pages)}
		{category_pagination($catid)}
		{/if}
		<div class="blank30"></div>
		<a title="返回顶部" href="#" class="clear floatright"><img alt="返回顶部" src="{$skin_url}/gotop.gif"></a>
	<div class="clear"></div>
					   </div>

                   
               	  </div>
                </div>
                <div class="clear"></div>
                <div class="bd_bgb">
                    <div class="bd_bgb_left">
                    <div class="bd_bgb_right"></div>
                    </div>
                </div>
            </div>
        </div>
        
<div class="clear"></div>
    </div>
{template 'footer.html'}