<h3>快速导航</h3>
<ul>
<!--只展开当前栏目所在一级栏目下的分类-->
<?php $__pid = getcategoryparentsid($catid);?>
{loop categories_nav() $t}

{if $t[catid]==$__pid}
<!-- {loop category::listcategorydata($__pid) $type} -->
<li><a href="{$type[url]}" title="{$type[catname]}" class="{if $type[catid]==$catid}on{/if}">{$type[catname]}</a></li>
<!-- {/loop} -->
{/if}
{/loop}
<!--只展开当前栏目所在一级栏目下的分类-->
</ul>
<div id="contact">
<div style="background:url({$skin_path}/address.gif) 5px center no-repeat;" />
{get('address')}
</div>

<div style="background:url({$skin_path}/tel.gif) 5px center no-repeat;" />
{get('email')}
</div>

<div style="background:url({$skin_path}/mail.gif) 5px center no-repeat;" />
{get('tel')}
</div>

</div>

<div id="search">
<h5>内容搜索</h5>
<form name='search_form' action="<?php echo url('archive/search');?>" onsubmit="search_check();" method="post">
<input  id="keyword" name="keyword" type="text" value="<?php echo get('keyword');?>" />
<div class="blank5"></div>
<input type="submit" name='submit' value="搜索" id="search_btn" />
</form>
</div>
<div class="clear"></div>