{template 'header.html'}
<div id="left">
{template 'left.html'}
</div>

<div id="right">
{template 'position.html'}

<div id="introduce">


{loop $archives $i $article}<dl class="news_list">
<dt><h5>{=$i+1}&nbsp;）</h5>&nbsp;&nbsp;<a href="{$article[typeurl]}">{$article[typename]}</a> - <a href="{$article[url]}"><?php if($keyword) echo str_replace($keyword,"<font color=red><b>$keyword</b></font>",$article['title']); else { ?>{$article[title]}<?php } ?></a><span class="date">{$article['adddate']}</span></dt>
<dd>{cut(strip_tags($article['content']),200)}<a href="{$archive[url]}" target="_blank">&nbsp;…[&nbsp;详细&nbsp;]</a></p></dd>
</dl>{/loop}

<div class="blank10"></div>
<div class="pages">
<?php echo pagination::html($record_count,5); ?>
</div>
</div>
<div class="clear"></div>
</div>
{template 'footer.html'}