{template 'header.html'}
<style>
	.NewsTitle{ text-align:center;font-size:16px;font-weight:bold;}
	.PostDate{border-bottom:1px dotted #666666;text-align:center;padding:4px;}
	.NewsContent{font-size:14px;line-height:20px;padding:10px;}
	.NewsContent p{ margin:5px;padding:0px; }

</style>

<div id="main">
	<div id="MainLeftNav">
{template 'left.html'}

	</div>
	<div id="MainRight">
		{template 'position.html'}
		<div style="padding:10px 25px">
			<div class="PostDate"></div>
			<div class="NewsContent" >
				<div id="content" style="width:680px;" class="pd">
		
            <div class="content2">
           <table width="680" align="center" border="0" cellpadding="10">
{loop $archives $archive}<tr><td width="90" height="50"><p class="postdate">{$archive[adddate]}</p></td><td  width="590" align=left><p><a href="{$archive[url]}" class="newsTitle">{$archive[title]}</a><br /><p>{cut(strip_tags($archive['content']),140)}...</p></td></tr>{/loop}
					</table>
		<div class="blank10"></div>
		{if isset($pages)}
{category_pagination($catid)}
{/if}

<div class="blank30"></div>
	</div>
		</div>
				</div>
		</div>
	</div>
</div>
{template 'footer.html'}