<form name='search' action="<?php echo url('archive/search');?>" onsubmit="search_check();" method="post">
<div class="right_box2g">
        	<div class="serach_l"><img src="{$skin_path}/yx_21.gif" /></div>
            <div class="serach_c">
            	<div><span class="chewd12">本站搜索 </span><span class="engwd">/ SERACH</span></div>
                <div><input  name="keyword" type="text" size="21" />
                </div>
            </div>
            <div class="serach_r"><input name="submit" type="image" src="{$skin_path}/yx_22.gif" /></div>
        </div></form>