<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>{if !empty($archive[mtitle])}{$archive[mtitle]}-{elseif !empty($archive[title])}{$archive[title]}-{/if}{if $type[meta_title]}{$type[meta_title]}-{elseif typename($type[typeid])}{typename($type[typeid])}-{/if}{if $category[$catid][meta_title]}{$category[$catid][meta_title]}-{elseif !empty($catid)}{catname($catid)}-{/if}{get('fullname')}</title>
<meta name="keywords" content="{if $archive[keyword]}{$archive[keyword]}{else}{if $type[keyword]}{$type[keyword]}{elseif $category[$catid][keyword]}{$category[$catid][keyword]}{else}{get('site_keyword')}{/if}{/if}" />
<meta name="description" content="{if $archive[description]}{$archive[description]}{else}{if $type[description]}{$type[description]}{elseif $category[$catid][description]}{$category[$catid][description]}{else}{get('site_description')}{/if}{/if}" />
<meta name="author" content="CmsEasy Team" />
<link rel="icon" href="{$base_url}/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{$base_url}/favicon.ico" type="image/x-icon" />
<link href="{$skin_path}/reset.css" rel="stylesheet" type="text/css" />
<link href="{$skin_path}/style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
<!-- 
function ResumeError()  
{ 
    return true; 
} 
window.onerror = ResumeError; 
function check()
{
if(document.search.keyword.value.length==0){
     alert("{lang(pleaceinputtext)}");
     document.search.keyword.focus();
     return false;
    }

	}
// --> 
</script>
</head>
<body>
<div id="main">
	<div id="header">
    	<div id="header_logo"><a href="{$base_url}/"><img src="{$base_url}/{get('site_logo')}" alt="{$sitename}" width="{get('logo_width')}"></a></div>
        <div id="header_top">
       	  <ul class="topul_ul">
<li><a href="{$site_url}" onclick="window.external.addFavorite(this.href,this.title);return false;" title='{get(sitename)}' rel="sidebar">{lang(favorite)}</a></li>
<li><a title="{lang(feedback)}" href="{url('guestbook')}" target="_blank">{lang(feedback)}</a></li>
<li><a id="StranLink" title="繁简转换">繁体</a></li>
          </ul>
        </div>
        <div id="header_nav">
        	<div class="header_navl"><img src="{$skin_path}/tz_5.gif" /></div>
            <ul class="nav_ul">
<li><a title="{lang(backhome)}" href="{$base_url}/" class="home">{lang(homepage)}</a></li>
{loop categories_nav() $t}
<li><a title="{$t[catname]}" href="{$t[url]}"{if isset($topid) && $topid==$t[catid]} class="on"{/if}>{$t[catname]}</a></li>
{/loop}
          </ul>
        </div>
        <div id="header_banner"><img src="{$skin_path}/tz_1.jpg" /></div>
	</div>