{template 'header.html'}
<div id="container">
<!-- 左侧导航 -->
{template 'left.html'}
<!-- 右侧功能区 -->
<div id="main">
<div id="content">
{template 'position.html'}
<h1>{$category[$catid][catname]}</h1>
<div class="contentinfo"></div>
<!-- 正文 -->
<div class="contenttext">{$category[$catid][categorycontent]}

</div>
<div class="blank10"></div>
<a href="#" class="clear floatright">Top&nbsp;&nbsp;</a>
</div></div>
<div class="clear"></div>
<div id="containerbottom"></div>
</div>

{template 'footer.html'}