{template 'header.html'}
<div id="container">
<!-- 左侧导航 -->
{template 'left.html'}
<!-- 右侧功能区 -->
<div id="main">
<div id="content">
{template 'position.html'}
<!-- 正文 -->
<div class="contenttext">

<div style="width:380px;margin:0px auto;padding:0px auto;">
{lang(orderquery)}：<input size="40"  id="oid" name="oid" type="text" align="absmiple" />
<input type="submit" id="search_btn" align="absmiple" name='submit' value=" {lang(look)} " onclick="javascript:window.location.href='<?php echo url('archive/orders');?>&oid='+document.getElementById('oid').value;" />
</div>
<div class="blank10"></div>
<div class="blank10"></div>


<!-- 内容缩略图列表 -->
<ul id="list-view">
{loop $archives $i $archive}
{if $i%4==0}<div class="clear blank5"></div>{else}{/if}
<li><div class="img-wrap"><a title="{$archive['stitle']}" target="_blank" href="{$archive['url']}"><img alt="{$archive['stitle']}" src="{$archive['sthumb']}" onerror='this.src="{$base_url}/{config::get('onerror_pic')}"' /></a></div>
<h5><a title="{$archive['stitle']}" target="_blank" href="{$archive['url']}">{$archive['title']}</a></h5>{if $archive['attr2']}{lang(price)}	:	<span>{$archive['attr2']}</span>{lang(unit)}{/if}
</li>
{/loop}
</ul>
<!-- 内容缩略图列表结束 -->

		<div class="clear"></div>
		<div class="blank10"></div>
		<!-- 内容列表分页 -->
		{if isset($pages)}
		{category_pagination($catid)}
		{/if}
	
		</div>
<div class="blank10"></div>
<a href="#" class="clear floatright">Top&nbsp;&nbsp;</a>
</div></div>
<div class="clear"></div>
<div id="containerbottom"></div>
</div>

{template 'footer.html'}