{template 'header.html'}
 <div id="bd">
    	<div class="bd_up">
        	<div class="bd_up_left">
            	{template 'left.html'}
            
        </div>
      <div id="bd_right">     
        <div class="box">
            	{template 'position.html'}
                <div class="content">
                	<div class="pd_title"></div>
                       <div class="pd">
<ul class="news_list">
{loop $archives $i $sp}
<li><span class="date">{$sp[adddate]}</span><a title="{$sp[title]}" target="_blank" href="{$sp[url]}">{$sp[title]}</a></li>
{/loop}
</ul>
<div class="blank10"></div>
<!-- 内容列表分页 -->
{if isset($pages)}
{tag::pagination($tag)}
{/if}
					   <div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
<div class="blank30"></div>
					   </div>
            
<div class="clear"></div>        
                </div>
            </div>
        
      </div>
      <div class="clear"></div>
    </div>
{template 'footer.html'}