{template 'header.html'}
<div id="bd">
    	<div class="bd_center">
            {template 'position.html'}
          <div id="bd_right">
          	<div class="box2">
			

<div class="content1">
<div id="title"><h1>{$announ[title]}</h1></div>
<div id="text">
<div class="contentinfo">{lang(adddate)}：&nbsp;&nbsp;{$announ[adddate]}</div>
{$announ[content]}

</div>
          	</div>
          </div>
    	</div>

<div id="bd_left">
{template 'left.html'}
 </div>

<div class="clear"></div>
    </div>
<!-- 调用页底模板 -->
{template 'footer.html'}