{template 'header.html'}
<div id="c">
<div id="position">
<span><a title="{get('sitename')}" href="{$base_url}">{get('sitename')}</a>{type::getpositionhtml($type['typeid'])}</span><strong>当前位置</strong>
</div>
{template 'left.html'}

<div id="right">
<h1 id="title">{type::getpositionhtml($type['typeid'])}</h1>
<div id="text">

{$type[typecontent]}

<div class="blank30"></div>
<a title="返回顶部" href="#" class="clear floatright"><img alt="返回顶部" src="{$skin_url}/gotop.gif"></a>
<div class="blank30"></div>

</div>
</div>
<div class="clear"></div>
</div>


<script> 
function resizeImg(obj)
{ 
var obj = document.getElementById(obj); 
var objContent = obj.innerHTML;
var imgs = obj.getElementsByTagName('img'); 
if(imgs==null) return; 
for(var i=0; i<imgs.length; i++) 
{ 
if(imgs[i].width>parseInt(obj.style.width)) 
{ 
imgs[i].width = parseInt(obj.style.width);
} 
} 
} 
window.onload = function() {resizeImg('text');
} 
</script>
{template 'footer.html'}