{template 'header.html'}
<div id="bd2j">
<div id="bd_box">
<div id="bd_leftg">
{template 'left.html'}
<div>
<img src="{$skin_path}/hy_11.gif" width="250" height="62" /></div>
</div>
<div id="bd_rightg">
{template 'position.html'}

<div class="pd">
<div id="content" style="width:620px;">

<ul class="news_list">
{loop $archives $i $sp}
<li><span class="date">{$sp[adddate]}</span><a title="{$sp[title]}" target="_blank" href="{$sp[url]}">{$sp[title]}</a></li>
{/loop}
</ul>
<div class="blank10"></div>
<!-- 内容列表分页 -->
{if isset($pages)}
{special::pagination()}
{/if}

<div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
<div class="blank30"></div>

</div>
</div>
</div>
<div class="clear"></div>
</div>
{template 'footer.html'}