body {font-family: "宋体";font-size: 14px;margin: 0px;line-height: 20px;word-break:break-all;
padding: 10px;}

h5{
background: #DDD;
}

h4{
background: #CCC;
align:center;
}

ul{
width:500px;
}

.current{
background: #CCC;
}


.optionbar {
background: #CAD9EA;
border:1px solid #CAD9EA;
float:left;
height:12px;
margin-right:0.5em;
}
.optionbar div {
border:1px solid #FFFFFF;
float:left;
height:16px;
overflow:hidden;
}