{template 'header.html'}<!-- 调用页头模板 -->

<div id="bd">
    	{template 'left.html'}<!-- 调用通用左栏 -->
      <div id="bd_right2">
      	<div class="box1">
        	{template 'position.html'}<!-- 调用导航模板 -->
            <div class="content" style="padding:15px;">
<!-- 内容缩略图列表 --><div class="blank10"></div>
<ul id="list-view">
{loop $archives $i $archive}
{if $i%4==0}<div class="clear blank5"></div>{else}{/if}
<li><div class="img-wrap"><a title="{$archive['stitle']}" target="_blank" href="{$archive['url']}"><img alt="{$archive['stitle']}" src="{$archive['sthumb']}" onerror='this.src="{$base_url}/{config::get('onerror_pic')}"' /></a></div>
<h5><a title="{$archive['stitle']}" target="_blank" href="{$archive['url']}">{$archive['title']}</a></h5>{if $archive['attr2']}{lang(price)}	:	<span>{$archive['attr2']}</span>{lang(unit)}{/if}
</li>
{/loop}
</ul>
<!-- 内容缩略图列表结束 -->

            
            <div class="blank30"></div>
		<!-- 内容列表分页 -->
		{if isset($pages)}
		{category_pagination($catid)}
		{/if}
              <div class="blank30"></div><div class="clear"></div>
            </div>
        </div>
        </div>
      <div class="clear"></div>
    </div>

<!-- 调用页底模板 -->
{template 'footer.html'}