{template 'header.html'}
<div id="left">
{template 'left.html'}
</div>

<div id="right">
{template 'position.html'}

<div id="introduce">
<h1>{$category[$catid][catname]}</h1>
</div>
<!-- 正文 -->
<div id="text" style="width:670px;" class="contenttext">
{$category[$catid][categorycontent]}
</div>
</div>
<div class="clear"></div>
</div>

<script> 
function resizeImg(obj)
{ 
var obj = document.getElementById(obj); 
var objContent = obj.innerHTML;
var imgs = obj.getElementsByTagName('img'); 
if(imgs==null) return; 
for(var i=0; i<imgs.length; i++) 
{ 
if(imgs[i].width>parseInt(obj.style.width)) 
{ 
imgs[i].width = parseInt(obj.style.width);
} 
} 
} 
window.onload = function() {resizeImg('text');
} 
</script>
{template 'footer.html'}