{template 'header.html'}
<div id="bd">
    	<div id="bd_box">
        <div style="height:16px;"></div>
		
          <div id="bd_left">
		  {template 'left.html'}
          	
          </div>
          <div id="bd_right">
          
            <div class="right_box1">
           	 {template 'position.html'}
                <div class="contentg">
 
<h1 id="title">{type::getpositionhtml($type['typeid'])}</h1>
<div id="text">

{$type[typecontent]}

<div class="blank30"></div>
		<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
		<div class="blank30"></div>
            </div>
            
          </div><div class="clear"></div>
        </div>
    </div>


<script> 
function resizeImg(obj)
{ 
var obj = document.getElementById(obj); 
var objContent = obj.innerHTML;
var imgs = obj.getElementsByTagName('img'); 
if(imgs==null) return; 
for(var i=0; i<imgs.length; i++) 
{ 
if(imgs[i].width>parseInt(obj.style.width)) 
{ 
imgs[i].width = parseInt(obj.style.width);
} 
} 
} 
window.onload = function() {resizeImg('text');
} 
</script>
{template 'footer.html'}