{template 'header.html'}
<div id="bd">
    	<div id="bdleft">
    		{template 'left.html'}
        </div>
        <div id="bd_right2">     	
                <div class="box">
                	<div class="em">
                    	{template 'position.html'}
                       <div class="pd">
					   
					   <div class="pd_title">{$announ[title]}</div>
					  <div id="content" style="width:550px;" class="text">{$announ[content]}</div>
					   <div class="blank30"></div>
		<a title="返回顶部" href="#" class="clear floatright"><img alt="返回顶部" src="{$skin_url}/gotop.gif"></a>
	<div class="clear"></div>
					   </div>
					   <div class="clear"></div>
                    </div>
                </div><div class="b"></div>
        </div>
        </div>

		<script> 
function resizeImg(obj)
{ 
var obj = document.getElementById(obj); 
var objContent = obj.innerHTML;
var imgs = obj.getElementsByTagName('img'); 
if(imgs==null) return; 
for(var i=0; i<imgs.length; i++) 
{ 
if(imgs[i].width>parseInt(obj.style.width)) 
{ 
imgs[i].width = parseInt(obj.style.width);
} 
} 
} 
window.onload = function() {resizeImg('content');
} 
</script>
{template 'footer.html'}