{template 'header.html'}
<div class="box line_4">
{template 'left.html'}
<!--left_1 end-->

<div class="right_2">
<div class="t_2 mb10"><div><h3>{$category[$catid][catname]}</h3><span>Archive list</span></div></div>
{template 'position.html'}

<ul class="news_list">
			{loop $archives $i $archive}
			<li><a title="{$archive[stitle]}" target="_blank" href="{$archive[url]}">{$archive[title]}</a></li>
			{/loop}
		</ul>
		<div class="blank10"></div>
	{if isset($pages)}
{category_pagination($catid)}
{/if}
<div class="blank30"></div>
		<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
		<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
<!--box end-->
{template 'footer.html'}