<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>{if !empty($archive[mtitle])}{$archive[mtitle]}-{elseif !empty($archive[title])}{$archive[title]}-{else}{if $type[meta_title]}    {$type[meta_title]}-{elseif typename($type[typeid])}{typename($type[typeid])}-{/if}{if $category[$catid][meta_title]}{$category[$catid][meta_title]}-{elseif !empty($catid)}{catname($catid)}-{/if}{/if}{get('fullname')}</title>
<meta name="keywords" content="{if $archive[keyword]}{$archive[keyword]}{else}{if $type[keyword]}{$type[keyword]}{elseif $category[$catid][keyword]}{$category[$catid][keyword]}{else}{get('site_keyword')}{/if}{/if}" />
<meta name="description" content="{if $archive[description]}{$archive[description]}{else}{if $type[description]}{$type[description]}{elseif $category[$catid][description]}{$category[$catid][description]}{else}{get('site_description')}{/if}{/if}" />
<meta name="author" content="CmsEasy Team" />
<link rel="icon" href="{$base_url}/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{$base_url}/favicon.ico" type="image/x-icon" />
<link href="{$skin_path}/reset.css" rel="stylesheet" type="text/css" />
<link href="{$skin_path}/style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
<!-- 
function ResumeError()  
{ 
    return true; 
} 
window.onerror = ResumeError; 
function check()
{
if(document.search.keyword.value.length==0){
     alert("{lang(pleaceinputtext)}");
     document.search.keyword.focus();
     return false;
    }

	}
// --> 
</script>
<script type=text/javascript><!--//--><![CDATA[//><!--
function menuFix() {
 var sfEls = document.getElementById("nav").getElementsByTagName("li");
 for (var i=0; i<sfEls.length; i++) {
  sfEls[i].onmouseover=function() {
  this.className+=(this.className.length>0? " ": "") + "sfhover";
  }
  sfEls[i].onMouseDown=function() {
  this.className+=(this.className.length>0? " ": "") + "sfhover";
  }
  sfEls[i].onMouseUp=function() {
  this.className+=(this.className.length>0? " ": "") + "sfhover";
  }
  sfEls[i].onmouseout=function() {
  this.className=this.className.replace(new RegExp("( ?|^)sfhover\\b"), 
"");
  }
 }
}
window.onload=menuFix;
//--><!]]></script>
<!--用于PNG图片在IE6下透明-->
<!--[if IE 6]>
<script src="{$skin_path}/js/png.js"></script>
<script>
  DD_belatedPNG.fix('.logo');
  DD_belatedPNG.fix(' .cfooter');
  DD_belatedPNG.fix('.cleft_box .cright');
  DD_belatedPNG.fix('.cleft_box_content .cfooter');
  DD_belatedPNG.fix('.cleft_box_content .cheader');
</script>
<![endif]--> 
</head>

<body>
<div id="main">
  <div id="header">
  	<div class="top">
    	<div class="logo"><a href="{$base_url}/" title="{get(sitename)}"><img src="{$base_url}/{get(site_logo)}" width="{get(logo_width)}" alt="{get(sitename)}" /></a></div>
        <div class="nav">
      <div class="nav_c">
            <div id="nav" class="nav_ul">
			<ul>
			<li><a title="{lang(backhome)}" href="{$base_url}/" {if $catid==0} class="on"{/if}>{lang(homepage)}</a></li>
			{loop categories() $t}
		<li><a title="{$t[catname]}" target="_blank" href="{$t[url]}"{if isset($topid) && $topid==$t[catid]} class="on"{/if}>{$t[catname]}</a>
	   <ul>
		   {loop categories($t[catid]) $t1}
				<li><a title="{$t1[catname]}" target="_blank" href="{$t1[url]}">{$t1[catname]}</a></li>
				{/loop}
	   </ul>
		</li>
{/loop}
          </ul>
        </div>
        </div>
        </div>
    </div>
  </div>
  
<!--head部结束-->

<div id="bd">
    	<div id="bd_left">
        	<div class="box1">
            	<div class="title">
                	<div class="title_wd"><?php $t=position_p($catid=1);?>
<a href="{$t.url}" title="{$t['name']}">{$t['name']}</a>
</div>
                    <div class="title1_en" style="color:white;">About us</div>
                    <div class="title_ico"><img src="{$skin_path}/hs_12g.gif" /></div>
                   <?php?>
                </div>
                <div class="content" style="width:352px;">
                	<div class="p" style="height:158px;overflow:auto;">{tag_公司简介}</div>
                </div>
            </div>
            
          <div class="box2">
           	 <div class="search1">{lang(products)}<br />
       	      {lang(search)}</div>
            <div class="search2">
                	<div class="inupt1"></div><form name='search' action="<?php echo url('archive/search');?>" onsubmit="search_check();" method="post">
                    <div class="inupt2"><input type="text" style="height:28px;" size="23" name="keyword" />
                    </div>
            </div>
                <div class="search3"><input  name='submit' type="image" src="{$skin_path}/hs_6.gif" /></div></form>
          </div>
		  </div>
		  <div id="bd_right">
      	<div class="box" style="width:620px;overflow:hidden;">
{template 'system/slide.html'}
</div>
		</div>