{template 'header.html'}
 <div id="bd">
    	
      <div id="bd_right">
        <div class="bd_right1g">
   		  <div class="box1">
           	{template 'position.html'}
                <div class="content">
					   <div class="pd">
<div id="text" style="width:600px;">
					   <ul class="ul2">
{loop $archives $i $sp}
<li><span class="date">{$sp[adddate]}</span><a title="{$sp[title]}" target="_blank" href="{$sp[url]}">{$sp[title]}</a></li>
{/loop}
</ul>
<div class="blank10"></div>
<!-- 内容列表分页 -->
{if isset($pages)}
{special::pagination()}
{/if}

 </div>
</div>
                </div>
       	  </div>
        </div>
      </div>

<div id="bd_left">
        	{template 'left.html'}
        </div>

<div class="clear"></div>
    </div>

{template 'footer.html'}