   {template 'header.html'}
    <div id="bd">
    	<div id="bd_left">
        	<div class="boxn">
            	{template 'position.html'}
                <div class="content">

                       <div class="pd">

<!-- 内容_缩略图_内容简介列表 -->
		{loop $archives $i $archive}
		<div class="pro_box">
              <div class="c_l"><a href="{$archive[url]}" class="news_text_img"><img  class="c_l_picg" src="{$archive[sthumb]}" alt="{$archive[stitle]}" onerror='this.src="{$base_url}/{config::get('onerror_pic')}"' width="110" height="110" /></a></div>
            <div class="c_r">
              <div class="c_titleg"><a title="{$archive[stitle]}" href="{$archive[url]}">{$archive[title]}</a></div>
              <div class="c_pg">{cut(strip_tags($archive['introduce']),100)}…</div>
                </div>
            </div>
		{/loop}
<div class="blank30"></div>
<!-- 内容列表分页 -->
{if isset($pages)}
{category_pagination($catid)}
{/if}

</div>
                    </div>
            </div>
      </div>
   	  <div id="bd_right">
     {template 'left.html'}</div>
    	<div class="clear"></div>
    </div> 

   {template 'footer.html'}