		<div style="width:185px;margin-left:11px;">
			<div class="DialogTitle1">
				<div class="DialogTitle2">News</div>
			</div>
			<div class="DialogContent1">
				<div class="DialogContent2">
					<div style="padding:4px 0px 25px 0px;">
						<ul class="LeftNavList">
							{loop article(1,20,'aid',10) $archive}
<li><img src="{$skin_path}/dot_1.gif" align="absmiddle" />&nbsp;<a href="{$archive[url]}" target="_blank">{$archive[title]}</a></li>
{/loop}
						</ul>
					</div>
				</div>
			</div>
			<div class="DialogBottom1">
				<div class="DialogBottom2"></div>
			</div>
		</div>
		<div style="font-size:11px;padding:20px 30px;line-height:20px;">
			{template 'index/other.html'}
		</div>