{template 'header.html'}
<div id="bd">
      <div id="bd_right">
        <div class="bd_right_gg">
        <div class="box2">
		{template 'position.html'}
            	
                <div class="content3">
                	<div class="pd_title">{$announ[title]}&nbsp;&nbsp;{$announ[adddate]}</div>
					<div class="pd">
					   <div id="text" style="widht:600px;">
{$announ[content]}

</div>
</div>
                </div>
            </div>
        </div>
      </div>

	  <div id="bd_left">
        	{template 'left.html'}
        </div>

      <div class="clear"></div>
    </div>
{template 'footer.html'}