{template 'header.html'}
<div id="bd">
	<div id="bd_left">
    	{template 'left.html'}
        	
    </div>
    <div id="bd_right">
    	<div class="bd_rightp">
    	<div class="bd_rightp_title">
    	  <div class="title1_img"><img src="{$skin_path}/img_13.gif" /></div>
          <div class="title1">{$tag}</div>
          <div class="more3"><a title="{get('sitename')}" href="{$base_url}">{get('sitename')}</a> >> <a title="{$tag}" href="#">{$tag}</a> >> </span><strong>{lang(nowposition)}</strong></div> 
         </div>
              <div class="bd_rightp_content">
       <div class="pd"><ul class="news_list">
				{loop $archives $i $archive}
            <li><span class="date">{$archive[adddate]}</span><a title="{$archive[stitle]}" target="_blank" href="{$archive[url]}">{$archive[title]}</a></li>
			{/loop}
        </ul>
        <div class="blank10"></div>
		{if isset($pages)}
		{tag::pagination($tag)}
		{/if}

<div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
<div class="blank30"></div>
		</div>
              </div>
              <div class="clear"></div>
       </div> 
    </div>
</div>
<div class="clear"></div>
{template 'footer.html'}