{template 'header.html'}
  <div id="bd" class="clear">
 
    	<div id="bd_left">
        
          <div class="box3">
          	<div class="title">
                	<div class="title1_wd"><?php $t=position_p($catid=1);?>
<a href="{$t.url}" title="{$t['name']}">{$t['name']}</a>
</div>
                    <div class="title1_en">About us</div>
                    <div class="title_ico"><img src="{$skin_path}/hs_12.gif" /></div>
                    <div class="more"><a href="{$t.url}"><img src="{$skin_path}/hs_13.gif" /></a></div><?php?>
                </div>
                
           <div class="content" style="width:352px;">
                	<div class="pg" style="height:158px;overflow:auto;"><div class="picys"><img src="{$skin_path}/hs_11.gif" /></div>
                	　　{tag_公司简介}</div>
                </div>
          </div>
            
            <div class="box3ggg">
          	<div class="titlet">
                	<div class="title1_wd"><?php $t=position_p($catid=3);?>
<a href="{$t.url}" title="{$t['name']}">{$t['name']}</a>
</div>
                    <div class="title1_en">Products</div>
                    <div class="title_ico"><a href="{$t.url}"><img src="{$skin_path}/hs_13.gif" /></a></div><?php?>
                </div>
            <div class="contentt">
                	<ul class="dg">
                    {loop categories(3) $t1}
<div class="links_wd"><a href="{$t1[url]}" title="{$t1[catname]}">{$t1[catname]}</a></div>
{/loop}
				</ul>
                </div>
          </div>
            
            <div>
            </div>
        </div>
      <div id="bd_right">

        <div class="bd_right_left">
        	<div class="box3g">
          	<div class="title">
                	<div class="title1_wd"><?php $t=position_p($catid=2);?>
<a href="{$t.url}" title="{$t['name']}">{$t['name']}</a>
</div>
                    <div class="title1_en">About us</div>
                    <div class="title_ico"><img src="{$skin_path}/hs_12.gif" /></div>
                    <div class="more"><a href="{$t.url}"><img src="{$skin_path}/hs_13.gif" /></a></div><?php?>
                </div>
                
           <div class="content">
                	<ul class="ul2">
                    {loop archive(2,0,0,'0,0,0',16,'aid',7,false,0) $i $archive} 
<li><a href="{$archive[url]}" title="{$archive[stitle]}"><span class="date">{$archive[adddate]}</span>{$archive[title]}</a></li>
{/loop}
				</ul>
                </div>
          </div>
        </div>
        <div class="bd_right_right">
        	<div class="box3">
          	<div class="title">
                	<div class="title1_wd"><?php $t=position_p($catid=5);?>
<a href="{$t.url}" title="{$t['name']}">{$t['name']}</a>
</div>
                    <div class="title1_en">About us</div>
                    <div class="title_ico"><a href="{$t.url}"><img src="{$skin_path}/hs_12.gif" /></a></div><?php?>
                </div>
                
           <div class="content1">
                	<div class="pg1">
				<ul>
<li>{lang(address)}：{get(address)}</li>
<li>{lang(tel)}：{get(tel)}</li>
<li>{lang(fax)}：{get(fax)}</li> 
<li>{lang(email)}：{get(email)}</li> 
</ul>

  
</div>
<div class="search1">{lang(search)}</div>
            <div class="search2 clear"><form name='search' action="<?php echo url('archive/search');?>" onsubmit="search_check();" method="post">
                 <input type="text" class="inupt2" name="keyword" size="23" /><input class="s_btn" name='submit' type="image" src="{$skin_path}/hs_6.gif" /></form>
          </div>
                </div>
          </div>
        </div>
        
        <div class="box3gg">
          	<div class="title">
                	<div class="title1_wd"><?php $t=position_p($catid=3);?>
<a href="{$t.url}" title="{$t['name']}">{$t['name']}</a>
</div>
                    <div class="title1_en">Products Show</div>
                    <div class="title_ico"><img src="{$skin_path}/hs_12.gif" /></div>
                    <div class="more"><a href="{$t.url}"><img src="{$skin_path}/hs_13.gif" /></a></div><?php?>
                </div>
           <div class="content">
                	
             {loop archive(3,0,0,'0,0,0',20,'aid',4,true,0) $i $archive}
<div class="prod_box">
                        <a href="{$archive[url]}" title="{$archive[stitle]}"><img src="{$archive[sthumb]}" alt="{$archive[stitle]}" class="prod" /></a><br />
                       <a href="{$archive[url]}" title="{$archive[stitle]}" class="prod_font">{$archive[title]}</a>
</div>
{/loop}
<div class="clear"></div>             
                    </div>
                </div>
          </div>
      </div>
<div class="clear"></div>
    <!--bd部结束-->
{template 'footer.html'}