{template 'header.html'}
 <div id="bd">
    	<div class="bd_up">
        	<div class="bd_up_left">
            	{template 'left.html'}
            
        </div>
      <div id="bd_right">     
        <div class="box">
            	{template 'position.html'}
                <div class="content">
                	<div class="pd_title"><span style="color:red;font-weight:bold;"> “{$keyword}” </span>的查询结果：</div>
                       <div class="pd">
					 <ul class="news_list">
		{loop $articles $article}
		{cb_data($article)}
		<li><span class="date">{$article['adddate']}</span>[<a href="{$article[caturl]}">{$article[catname]}</a>] <a href="{$article[url]}"><?php if($keyword) echo str_replace($keyword,"<span style=color:red;font-weight:bold;>$keyword</span>",$article['title']); else { ?>{$article[title]}<?php } ?></a>
		{/loop}
	</ul>
	<div class="blank10"></div>
	<div class="pages">
		<?php echo pagination::html($record_count,5); ?>
	</div>
					   <div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
<div class="blank30"></div>
					   </div>
            
<div class="clear"></div>        
                </div>
            </div>
        
      </div>
      <div class="clear"></div>
    </div>
{template 'footer.html'}