{template 'header.html'}
 <div id="bd">
    	<div class="bd_up">
        	<div class="bd_up_left">
            	{template 'left.html'}
            
        </div>
      <div id="bd_right">     
        <div class="box">
            	{template 'position.html'}
                <div class="content">
<div class="pd_title"></div>
                       <div class="pd">
					 <div id="content" style="width:675px;" class="text">


<?php
$set_field=type::getpositionlink($data['typeid']);
$set_fields=array();
if(is_array($set_field))
foreach($set_field as $key => $value) {
    $set_fields[]=$value[id];
}
?>
{cb_data($archive)}

<!-- 内容开始 -->
<table width="100%" border="1" align="center" cellpadding="8" cellspacing="0" bordercolor="#CCCCCC" style="border-collapse:collapse;">
<tr>
<td colspan="4" background="{$skin_path}/images/th_bg.jpg" style="color:#999999">&nbsp;&nbsp;<span style="font-weight:bold; color:#EC0000;">{$archive[title]}</span> {lang('Jobdetails')}</td>
</tr>
<tr>
<td width="100" align="right">{lang('Jobtype')}：</td>
<td width="217" align="left">&nbsp;&nbsp;{$archive['my_Jobtype']}</td>
<td width="80" align="right">{lang('Jobtitle')}：</td>
<td width="253">&nbsp;&nbsp;{$archive['my_Jobtitle']}</td>
</tr>
<tr bgcolor="#F9F9F9">
<td align="right" bgcolor="#F9F9F9">{lang('jobNumber')}：</td>
<td align="left" bgcolor="#F9F9F9">&nbsp;&nbsp;{$archive['my_jobNumber']}</td>
<td width="80" align="right">{lang('RecruitingDepartment')}：</td>
<td bgcolor="#F9F9F9">&nbsp;&nbsp;{$archive['my_zhaopinbumen']}</td>
</tr>
<tr>
<td align="right">{lang('JobGender')}：</td>
<td align="left">&nbsp;&nbsp;{$archive['my_JobGender']}</td>
<td width="80" align="right">{lang('JobWork')}：</td>
<td>&nbsp;&nbsp;{$archive['my_JobWork']}</td>
</tr>
<tr bgcolor="#F9F9F9">
<td align="right" bgcolor="#F9F9F9">{lang('JobAcademic')}：</td>
<td align="left" bgcolor="#F9F9F9">&nbsp;&nbsp;{$archive['my_JobAcademic']}</td>
<td width="80" align="right">{lang('JobAge')}：</td>
<td bgcolor="#F9F9F9">&nbsp;&nbsp;{$archive['my_JobAge']}</td>
</tr>
<tr>
<td align="right">{lang('JobWorkareas')}：</td>
<td colspan="3" align="left">&nbsp;&nbsp;{$archive['my_JobWorkareas']}</td>
</tr>
<tr bgcolor="#F9F9F9" style="line-height:25px;">
<td align="right" valign="top">{lang('JobRequirements')}：</td>
<td colspan="3" align="left">&nbsp;&nbsp;{$archive['my_JobRequirements']}</td>
</tr>
<tr>
<td colspan="4" valign="middle" background="{$skin_path}/images/th_bg.jpg" style="color:#999999"><span style="font-weight:bold;">&nbsp;&nbsp;{lang(contactus)}</span></td>
</tr>
<tr>
<td align="right">{lang('ContactName')}：</td>
<td align="left">&nbsp;&nbsp;{$archive['my_ContactName']}</td>
<td width="80" align="right">{lang('tel')}：</td>
<td>&nbsp;&nbsp;{get('tel')}</td>
</tr>
<tr bgcolor="#F9F9F9">
<td align="right" bgcolor="#F9F9F9">{lang('fax')}：</td>
<td align="left" bgcolor="#F9F9F9">&nbsp;&nbsp;{get('fax')}</td>
<td width="80" align="right">{lang('email')}：</td>
<td bgcolor="#F9F9F9">&nbsp;&nbsp;<a href="mailto:{get(email)}" class="aB">{get('email')}</a></td>
</tr>
<tr>
<td align="right">{lang('address')}：</td>
<td colspan="3" align="left">&nbsp;&nbsp;{get('address')}</td>
</tr>
</table>
</td>
</tr>
<tr>
<td height="16" style="border-bottom:1px dotted #E6E6E6;"> &nbsp;</td>
</tr>
<tr>
<td height="58" align="right"><div class="back" style="margin-top:20px;float:right;">{myform('my_yingpin')}</div></td>
</tr>
</table>
<!-- 内容结束 -->

<!-- 自定义表单开始 -->
{if $archive['showform']}<div class="blank30"></div>
{template 'myform/nrform.html'}
{/if}
<!-- 自定义表单结束 -->

<div class="blank30"></div>

<!-- 上下页开始 -->
<div id="page">
{if $archive['p']['aid']}
<strong>{lang(archivep)}：</strong><a href="{$archive['p']['url']}">{$archive['p']['title']}</a>
{else}
<strong>{lang(archivep)}：</strong>{lang(nopage)}	
{/if}
<div class="clear"></div>
{if $archive['n']['aid']}
 <strong>{lang(archiven)}：</strong><a href="{$archive['n']['url']}">{$archive['n']['title']}</a>
{else}
<strong>{lang(archiven)}：</strong>{lang(nopage)}	
{/if}
</div>
<!-- 上下页结束 -->

 <div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
<div class="blank30"></div>
					   </div>
            
<div class="clear"></div>        
                </div>
            </div>
        
      </div>
      <div class="clear"></div>
    </div>
<!-- 中部结束 -->

<script> 
function resizeImg(obj)
{ 
var obj = document.getElementById(obj); 
var objContent = obj.innerHTML;
var imgs = obj.getElementsByTagName('img'); 
if(imgs==null) return; 
for(var i=0; i<imgs.length; i++) 
{ 
if(imgs[i].width>parseInt(obj.style.width)) 
{ 
imgs[i].width = parseInt(obj.style.width);
} 
} 
} 
window.onload = function() {resizeImg('content');
} 
</script>
{template 'footer.html'}