<div id="footer">
    	<div class="footer_left"><img src="{$skin_path}/eg_9.gif" /></div>
        <div class="footer_right">
        	<div class="foot_nav"><?php $t=position_p($typeid=1);?>
<a href="{$t.url}" title="{$t['name']}">{$t['name']}</a>	|	
<?php?>
<!-- {loop archive(1,0,0,'0,0,0',20,'aid',10,false,0) $i $archive} -->
<a href="{$archive[url]}" title="{$archive[stitle]}">{$archive[title]}</a>	|	
<!-- {/loop} --><?php $t=position_p($typeid=5);?>
<a href="{$t.url}" title="{$t['name']}">{$t['name']}</a>	|	
<?php?>
<a href="#">TOP</a></div>
          <div class="p2">Copyright © 2010 <a href="{$base_url}/">{get(sitename)}</a>. All Rights Reserved.
<a href="http://www.miibeian.gov.cn/" target="_blank">{get('site_icp')}</a>   {getcnzzcount()}<br />

{lang(address)}：{get(address)} 

{lang(tel)}：{get(tel)}
{lang(fax)}：{get(fax)}
{lang(email)}：{get(email)}<br />


<!-- 非商业用户请勿删除 -->
<div class="copyright">{if $topid==0}<!-- 热门关键词 -->
<div class="hot_keys">{lang(hotkeys)}： {gethotsearch(10)}</div>{/if}</div>
</div>

</div>
        </div>
    </div><!--fooder部结束-->
</div>

<!-- 在线客服 -->
{template 'system/servers.html'}
<!-- 短信 -->
{template 'system/sms.html'}

{if get('lang_type')=='cn'}<script type="text/javascript" src="{$base_url}/js/tc.js"></script>{/if}


</body>
</html>