{template 'header.html'}
<div id="bd2j">
      <div id="bd_box">
          <div id="bd_leftg">
			{template 'left.html'}
			<div>
			<img src="{$skin_path}/hy_11.gif" width="250" height="62" /></div>
          </div>
        <div id="bd_rightg">
          	{template 'position.html'}
            <div class="pd_title">{$category[$catid][catname]}</div>
                       <div class="pd">
					   <div id="content" style="width:580px;">“{$keyword}” </span>{lang(searchresults)}：</h1>
<div id="text">
<ul class="news_list">
		{loop $articles $article}
		{cb_data($article)}
		<li><span class="date">{$article['adddate']}</span>[<a href="{$article[caturl]}">{$article[catname]}</a>] <a href="{$article[url]}"><?php if($keyword) echo str_replace($keyword,"<span style=color:red;font-weight:bold;>$keyword</span>",$article['title']); else { ?>{$article[title]}<?php } ?></a>
		{/loop}
	</ul>
	<div class="blank10"></div>
	<!-- 内容列表分页 -->
	<div class="pages">
		<?php echo pagination::html($record_count,5); ?>
	</div>
<div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
<div class="blank30"></div>
</div>
					   </div>
        </div>
          <div class="clear"></div>
    </div>
	<script> 
function resizeImg(obj)
{ 
var obj = document.getElementById(obj); 
var objContent = obj.innerHTML;
var imgs = obj.getElementsByTagName('img'); 
if(imgs==null) return; 
for(var i=0; i<imgs.length; i++) 
{ 
if(imgs[i].width>parseInt(obj.style.width)) 
{ 
imgs[i].width = parseInt(obj.style.width);
} 
} 
} 
window.onload = function() {resizeImg('content');
} 
</script>
{template 'footer.html'}