{template 'header.html'}
<div id="bd">
    	<div id="bd_left">
        	{template 'left.html'}
        </div>
      <div id="bd_right">
      	<div class="box">
            	{template 'position.html'}
                <div class="content">
                	<div id="content" class="p20" style="width:590px;">
<div class="blank10"></div>
<!-- 专题图片 -->
<img src="{$special[banner]}" style="float:left;margin:0px 20px 20px 0px;" />
<!-- 专题介绍 -->
{$special[description]}

<div class="blank30"></div>

<ul class="news_list">
{loop $archives $i $sp}
<li><span class="date">{$sp[adddate]}</span><a title="{$sp[title]}" target="_blank" href="{$sp[url]}">{$sp[title]}</a></li>
{/loop}
</ul>
<div class="blank10"></div>
<!-- 内容列表分页 -->
{if isset($pages)}
{tag::pagination($tag)}
{/if}
<div class="blank30"></div>
</div>
                </div>
            </div>
      </div>
      <div class="clear"></div>
    </div>

{template 'footer.html'}