<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ChinaStockWebServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ChinaStockWebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webxml.com.cn/WebServices/ChinaStockWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ChinaStockWebServiceSoap"
                contract="ChinaStockService.ChinaStockWebServiceSoap" name="ChinaStockWebServiceSoap" />
            <endpoint address="http://www.webxml.com.cn/WebServices/ChinaStockWebService.asmx"
                binding="customBinding" bindingConfiguration="ChinaStockWebServiceSoap12"
                contract="ChinaStockService.ChinaStockWebServiceSoap" name="ChinaStockWebServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>