{template 'header.html'}
<div id="bd">
 {template 'left.html'}<!-- 调用通用左栏 -->
<div id="bd_right">
      	<div class="box">
            {template 'position.html'}
            <div class="content">

                       <div class="pd"><!-- 内容_内容简介列表 -->
<ul class="news_list">
			{loop $archives $i $archive}
			<li><span class="date">{$archive[adddate]}</span><a title="{$archive[stitle]}" target="_blank" href="{$archive[url]}">{$archive[title]}</a></li>
			{/loop}
		</ul>
		<div class="blank10"></div>
		{if isset($pages)}
		{type_pagination($typeid)}
		{/if}</div>
            </div>
            </div>
      </div>
      <div class="clear"></div>
    </div>
{template 'footer.html'}