@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
form, fieldset, legend, button, input, textarea, 
th, td
{margin:0px;padding:0px;}
fieldset, img {border:0;padding:0;margin:0px;}
li {list-style:none;}
body,button, input, select, textarea /* for ie */ {font: 78%/1.5 tahoma,Helvetica,arial, "\5b8b\4f53", sans-serif;}
address, cite, dfn, em, var { font-style: normal; } 
code, kbd,samp { font-family: courier new, courier, monospace; }

ins {text-decoration:none;}
del {text-decoration:line-through;}
h1, h2, h3, h4, h5, h6 {}
h1 {font-size: 2em;}
h2 {font-size: 1.7em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.38em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1.1em;font-style: italic;}
address,cite,dfn,em,var{font-style:normal;}
caption,td {font-weight: normal;}
cite, blackquote, em, i {font-style: italic;}
strong, b {	font-weight: bold;}
pre, code {font-family: monospace;font-size: 1.1em;}
abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help;}
table {	border-collapse:collapse;border-spacing:0;}
.floatleft{clear:both;float:left;}
.floattight{clear:both;float:right;}
/* CSS Document */
html{color:#333;background:#FFF;}
body{font-size:12px;text-align:left;}

/**********/
.box{ width:970px; margin:auto;}
.left_1{ width:220px; float:left; margin-right:25px;}
.center_1{ width:520px; float:left;overflow:hidden;}
.right_1{ width:180px; float:right;overflow:hidden; }
.right_2 {width:700px;float:right;overflow:hidden;margin-top:8px;}

/**********/
body{background:#ffffff url(hb_1.gif) repeat-x top;margin:0px; font-size:12px; font-family:"宋体";}
#main{ background:#ffffff; width:1004px;margin:0 auto;padding:0px auto;}
#header{ width:980px; text-align:center; margin:0 auto;padding:0px auto;}
#bd{width:980px;margin-top:16px; text-align:center; margin:0 auto;padding:0px auto; background:#FFFFFF;}
#bd_left{ width:319px;float:left;}
#bd_right{ width:640px;float:right;}
.clear{ clear:both;}
#footer{width:980px; background:#EDEDED url(hb_15.gif) no-repeat top right;  clear:both; text-align:center; margin:16px auto 0px auto;padding:0px auto;}

.logo{ float:left; padding:15px;}
.top{ float:right; width:400px;}
.topwd{ float:right; height:26px; width:75px; display:block; padding-top:22px; padding-right:16px;}
.pic{ height:24px; float:left; padding:4px 5px 0 0; }
.topwd a{ color:#4d4d4d; text-decoration:none;float:left;}
.topwd a:hover{ color:#fc6804;}
.serach {clear:both; float:right;width:240px; padding-bottom:8px;padding-right:24px;}
.input{height:20px;width:160px;}
.inputimg{float:right;}
.inputys{ float:left;}
.serach .input {
	line-height: 18px;
	color: #009900;
	background-image: url(hb_6.gif);
	background-repeat: no-repeat;
	background-position: right center;
	border: 1px solid #d4d4d4;
	background-color: #f4f4f4;
}


.nav{background:url(hb_3.gif) no-repeat right; height:31px; clear:both; width:980px;margin:0 auto;padding:0px auto;}
.nav_l{ float:left;}
.nav_c{}
.nav_ul{ margin:0px; padding:0px 0px 0px 0px; font-size:12px;}
.nav_ul li{ margin:0px;padding:0px;font-size:12px;color:#ffffff;float:left;list-style-type: none; height:31px; line-height:31px;}
.nav_ul li a{font-size:12px; font-weight:bold; color:#ffffff; float:left; text-decoration: none; display:block; width:95px;}
.nav_ul li a:hover{color:#666666; background:url(hb_5.gif) no-repeat center;font-size:12px;}


.banner{background:#e2e5e0; width:980px; margin:2px auto 0px auto; padding-bottom:4px; overflow:hidden;}
.banner_yy{ clear:both; height:8px;}

.left_box1{}
.left_box1_title{ height:32px; line-height:32px;}
.title_pic{ float:left; padding-top:6px; padding-left:8px;}
.lv14{ color:#0c9507; font-size:14px; font-weight:bold; float:left; padding-left:8px;}
.more{ float:right; padding-right:16px; font-family:Arial, Helvetica, sans-serif;font-size:10px;}
.engwd{ font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#bdbdbd; float:left;}
.left_box1_content{ background:url(hb_10.gif) no-repeat top; width:319px;}
.left_box1_contentb{}
.content1{ padding-left:24px;}
.ul2{
	clear:both;
	margin:0px;
	padding:12px 12px 12px 0px;
	text-align:left;
	font-family:"宋体";
	font-size:12px;
	}	
.ul2 li{
	font-family:"宋体";
	font-size:12px;
	line-height:26px;
	height:26px;
	list-style-type: none;
	color:#6c6c6c;
	display:block;
	padding:0px;
	display:block;
	background:url(mb_14.gif) no-repeat left bottom;
	}
.ul2 li a{
	color:#6c6c6c;
	text-decoration: none;
	margin-left:15px;
	}	
.ul2 li a:hover{
	color:#fc6804;
	}
.ul2 .date{
	color:#999999;
	float:right;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
}



.left_box2{ background:url(hb_12.gif) no-repeat left; height:101px; padding-top:24px;}
.p{ line-height:26px; color:#666666;  text-align:left;padding-left:120px; font-family:Arial, "宋体";}
.lv12{ color:#0c9507;}

.right_L_box{ width:320px; float:left;}
.right_box_title{ height:32px; line-height:32px; border-bottom:#e9e9e9 solid 3px;}
.p1{ line-height:26px; color:#666666;  text-align:left; font-family:Arial, "宋体"; padding-top:16px; padding-bottom:16px;height:125px;overflow:auto;}
.right_r_box{ width:290px; float:right;}
.anli { padding:5px;}
.anli_pic { float:left; padding:2px; background:#FFFFFF;border:1px solid #dddddd; margin:8px 8px 8px 0px;}

.anli_p {line-height:18px; color:#666666;font-size:12px; text-align:left; padding:5px;}
.anli_p .titles{color:#666666; font-weight:bold; font-size:12px;text-align:left; font-family:Arial, "宋体"; line-height:26px;}
.anli_p .titles a{color:#666666; font-weight:bold; font-size:12px; font-family:Arial, "宋体"; text-decoration:none;}
.anli_p .titles a:hover{color:#fc6804; font-weight:bold; font-size:12px;font-family:Arial, "宋体"; }

.right_c_box{ clear:both;}

.content3{}
.prod_box{float:left;display:block;text-align:center; padding-left:12px; padding-top:12px;}
img.prod{border:0px solid #dddddd;height:82px;background:#FFFFFF; padding:5px;}
a.prod_font{padding:0px;text-decoration:none;color:#ffffff; line-height:30px; background:url(hb_13.gif) no-repeat left; display:block; height:30px; width:131px}

.footer_left{ float:left;}
.ft_nav{ color:#666666; padding-top:24px; font-size:10px;}
.ft_nav a{ color:#666666; padding-top:24px; font-size:12px; text-decoration:none;}
.ft_nav a:hover{ color:#fc6804; padding-top:24px; font-size:12px;}
.ft_wd{ line-height:26px; font-size:12px;  color:#666666; font-family:Arial, "宋体"; padding-top:8px;}

/*--------二级--------*/
#bd_leftg{ width:249px;float:left;}
#bd_rightg{ width:700px;float:right;}

.prod2_box{float:left;display:block;text-align:center; padding-left:41px; padding-top:21px;}
img.prod2{border:1px solid #dddddd;width:160px;height:100px;background:#FFFFFF; padding:5px;}
a.prod2_font{padding:0px;text-decoration:none;color:#666666; line-height:30px; height:30px;}

.leftbox1{}
.leftbox2{ margin-top:8px;}

.lbox_title{ background:url(hb_22.gif) no-repeat left top; height:45px;}
.lbox_content{border:1px solid #dddddd;}
.lv14g{ color:#0c9507; font-size:14px; font-weight:bold; float:left; padding-left:80px; padding-top:20px;}
.lv14g a {color:#0c9507;}
.lbox_title2{ background:url(hb_23.gif) no-repeat left top; height:45px;}

.ul2g{
	clear:both;
	margin:0px;
	padding:12px 12px 12px 12px;
	text-align:left;
	font-family:"宋体";
	font-size:12px;
	}	
.ul2g li{
	font-family:"宋体";
	font-size:12px;
	line-height:28px;
	height:28px;
	list-style-type: none;
	color:#6c6c6c;
	display:block;
	padding:0px;
	display:block;
	background:url(mb_14.gif) no-repeat left bottom;
	}
.ul2g li a{
	color:#6c6c6c;
	text-decoration: none;
	margin-left:15px;
	}	
.ul2g li a:hover{
	color:#fc6804;
	}
.ul2g .date{
	color:#999999;
	float:right;
	width:80px;
	margin-top:-28px;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
}

.pg{ line-height:26px; color:#666666;  text-align:left;padding:12px; font-family:Arial, "宋体";}

.moreg{ float:right; padding-right:16px; font-family:Arial, "宋体";font-size:12px; color:#666666;}
.moreg a{font-size:12px; text-decoration:none;color:#666666;}
.moreg a:hover{ color:#fc6804;}

.pd_title{font-size:14px; line-height:25px; color:#00a72d; text-align:center; padding:20px 20px 0px 20px; font-weight:bold; border-bottom:#eeeeee dotted 0px;}
.pd{ font-size:12px; line-height:28px; color:#333333; text-align:left; margin:15px 25px 25px 25px;}
/**********/

.logo {float:left;}
/**********/
.topnav{ position:absolute; right:0; top:0px; color:#666; }
.topnav a{ color:#666; padding:0 5px;}
/**********/
.topmenu{ width:970px; position:absolute; right:0; top:60px; background: url(topmenu.jpg) no-repeat right -30px; background-color:#0F7BC4; height:30px; line-height:30px; color:#FFF;}
.topmenu div{
	background: url(topmenu.jpg) no-repeat left 0px; height:30px;
}
.topmenu a{ color:#FFF; padding:0 15px; font-weight:bold;}
/**********/
.banner_1{
	background:#0F7BC4;
}

/**********/
.leftmenu{}
.leftmenu li{
	height:25px;
	line-height:25px;
	background: url(leftmenu.gif) repeat-x left top;
	padding-left:10px;
	margin-bottom:1px;
}
.leftmenu li a{
	background: url(leftmenu.gif) no-repeat left -25px;
	padding-left:35px;
	display:block;
	color:#333;
	}


/**********/
.t_1{
	height:27px;
	line-height:27px;
	background: url(t_1.jpg) no-repeat right -27px;
	padding-right:10px;
	overflow:hidden;

}
.t_1 div{background: url(t_1.jpg) repeat-x left -54px; height:27px;}
.t_1 h3{
	height:27px;
	padding-left:15px;
	line-height:27px;
	font-size:12px;
	color:#FFF;
	background: url(t_1.jpg) no-repeat left -0px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
}
/**********/
.t_2{
	height:30px;
	line-height:30px;
	background: url(t_2.jpg) repeat-x right -30px;
	padding-right:10px;
	overflow:hidden;

}
.t_2 div{background: url(t_2.jpg) no-repeat left 0; height:30px;}
.t_2 h3,.right_2 h3{
	height:30px;
	padding:0 20px;
	line-height:22px;
	font-size:14px;
	color:#0c9507;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	float:left;
}
.t_2 div span{font-size:10px; color:#999; padding-left:10px;}
/**********/

.img_1{ border:1px solid #CCC;}
/**********/
.quick{}
.quick a{
	display:block;
	height:40px;
	text-align:center;
	line-height:40px;
	color:#333;
	font-size:14px;
	font-weight:bold;
	text-decoration: underline;
}
.quick a:hover{ color:#F30;}

.q_1{background: url(q_1.jpg) no-repeat;}
.q_2{background: url(q_2.jpg) no-repeat;}
.q_3{background: url(q_3.jpg) no-repeat;}
.q_4{background: url(q_4.jpg) no-repeat;}
.q_5{background: url(q_5.jpg) no-repeat;}
/**********/
.list_1{background-color:#F6F8F7; padding:10px; }
.list_1 li{ width:150px; text-align:center;}
.list_1 li a{ display:block;color:#666; line-height:30px;}
.list_1 li img{width:150px;height:auto; border:1px solid #CCC;}

/**********/
.list_2{ height:132px;}
.list_2 li{ width:173px;height:132px; margin-bottom:10px;overflow:hidden;text-align:center; float:left;}
.list_2 li a{ display:block;width:150px;height:100px;overflow:hidden; color:#666; line-height:30px;}
.list_2 li img{width:150px;height:auto;border:1px solid #CCC;}
.list_2 li span{ display:block;width:150px;height:32px;line-height:32px;overflow:hidden;background-color:#F0F0F0; }


/**********/
.login{ background-color:#F6F8F7; padding:20px 10px; border:1px solid #DEDEDE; border-top:none; height:80px;}
.login label{ width:50px; display:block; float:left; margin-bottom:5px;}
.input_1{ float:left; border:1px solid #BBB; width:98px; height:18px; line-height:18px; font-size:12px; margin-bottom:5px;}
/**********/
.btn_1,.btn_2{
	background-color:#F6F8F7;
	border:none;
	background: url(btn_1.jpg) no-repeat left top;
	padding-left:14px;
}
.btn_2{
	background: url(btn_2.jpg) no-repeat left top;
}



/**********/
.f_link{ background-color:#F6F6F6;}
.f_link li{ border-bottom:1px dashed #999; line-height:30px; padding:0 5px;}
.f_link li a{ color:#333; padding:0 10px;}

/**********/
.bottom{
	height:68px;
	margin:auto;
	margin-top:20px;
	padding:10px;
	background: url(bottom.jpg) repeat-x;
	position:relative;
	width:950px;
}
.bottom a {color:#999;}
.bottom p{ position:absolute; left:200px; top:40px; color:#999; line-height:20px;}
/**********/
.logo_b{background: url(logo_b.jpg) no-repeat; position:absolute; left:20px; top:20px;}
.logo_b a{width:200px; height:50px; display:block;}
.logo_b h3{ display:none;}
/**********/
.bottom_menu{ position:absolute; left:190px; top:15px; color:#999;}
.bottom_menu a{ color:#999; padding:0 10px; font-weight:bold;}


.copyright,.copyright a {margin:10px 0px;text-align:center;color:#ccc;}



#gotop,#gobottom {margin:10px 75px 10px;CURSOR: pointer}
#showArea {overflow: hidden; height: 320px;border:1px solid #DEDEDE;}


/************* 分页 */

#page {text-align:left;}

.pages {
  clear:both;
  margin:0px 10px;
  text-align:left;
}

.pages strong {
  color:#555;
  display:block;
  float:left;
  height:18px;
  line-height:18px;
  float:left;
  padding:0px 8px;
  background:#F5F5F5;
  border:1px solid #ccc;
  margin: 0px 3px 0px 0px;
}
.pages a {
  display:block;
  float:left;
  height:18px;
  line-height:18px;
  float:left;
  padding:0px 8px;
  border:1px solid #CCC;
  text-decoration:none;
  margin: 0px 3px 0px 0px;
  color:#555;
}

.pages span {
  float:right;
}


/****************内容*/
#title h1 {

  line-height:40px;
  padding-top:20px;
  font-size:22px;
  text-align:center;
  background:url(point.gif) left bottom repeat-x;
  color:#333;
  font-weight:bold;
}

.contentinfo {
  line-height:24px;
  text-align:right;
  background:#F5F5F5;
  border-bottom:1px solid #ccc;
  color:#999;
  padding-right:15px;
  margin-top:-16px;
}

.contentinfo a {color:#999;}

.text {
  padding:30px 20px;
  text-align:14px;
  line-height:200%;
  color:#333;
  text-align:left;
}



.floatright {float:right;}
.floatleft {float:left}

.blank10,.blank30 {clear:both;height:10px;overflow:hidden;}
.blank30 {height:30px;}

/*工具*/
#tool a{
	color:#666666;
	text-decoration: none;
	margin-left:2px;
	}	
#tool a:hover{
	color:#ff8707;
	}

#tool {
	font-size:12px;
	line-height:20px;
	border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;
	height:20px;
	margin:10px 0;
	padding:10px 0 10px 10px;
	overflow: hidden;
}
#tool ul {
	float:left;
	list-style-type:none;
}
#tool ul li {
	float:left;
	width:90px;
	line-height:20px;
}
#tool .commentary, #tool .print, #tool .copy, #tool .email, #tool .close, #tool .rss_2, #tool .t_1, #tool .t_2, #tool .t_3 {
	background-image: url(tool.gif);
	background-repeat: no-repeat;
	background-position: left -20px;
	height:20px;
	line-height:20px;
	padding:0 0 0 25px;
	display:block;
	margin:0 10px 0 0;
	color:#333;
}
#tool .print {
	background-position: left -40px;
}
#tool .copy {
	background-position: left -80px;
}
#tool .email {
	background-position: left -100px;
}
#tool .close {
	background-position: left -60px;
}
#tool .rss_2 {
	background-position: left -120px;
}
#tool .t_1 {
	background-position: left -140px;
}
#tool .t_2 {
	background-position: left -160px;
}
#tool .t_3 {
	background-position: left -180px;
}

#tool .t_4 {padding-left:20px;background:url(comment.gif) left -1px no-repeat;}
#tool .orders {padding-left:20px;background:url(orders.gif) left 2px no-repeat;}
#tool .sinaicon {padding-left:20px;background:url(sinaicon.png) left -3px no-repeat;}
/************* 分类列表 */
.news_list {
  padding:10px;
  text-align:left;
}

.news_list li {
  clear:both;
  line-height:28px;
  padding-left:15px;
  border-bottom:1px dotted #999;
  background:url(icon06.gif) left 12px no-repeat;
}

.news_list li a {
  color:#666;
}

.category_title {
  clear:both;
  line-height:28px;
  color:#333;
  padding:0px 15px 0px 30px;
  margin-bottom:10px;
  background:#F5F5F5 url(icon04.gif) 10px 10px no-repeat;
  border-bottom:1px solid #ccc;
}

.category_title span {
  float:right;
}

.category_title h4 {
  font-size:14px;
}

.news_text h5,.news_text_pic h5 {
  float:right;
  width:485px;
  font-weight:bold;
  font-size:12px;
  text-align:left;
  color:#333;
  padding-left:20px;
  background:url(icon05.gif) left 6px no-repeat;
}

.news_text h5 a {color:#0c9507;}

.news_text h5 {
  width:640px;
}

.news_text h5,.news_text_pic h5 a {
  color:#333;
}

.news_list .date,.news_text h5 .date,.news_text_pic h5 .date,.strgrade {
  float:right;
  padding-right:15px;
  color:#999;
  font-weight:normal;
}

.strgrade {
  display:block;
  width:160px;
  text-align:left;
}

.news_list p {
  margin:5px;
  padding:5px 5px 5px 20px;
  background:#FFF;
  text-indent:2em;
}

.news_text,.news_text_pic {
  clear:both;
  height:auto;
  padding:10px 0px;
  border-bottom:1px dotted #ccc;
}


.news_text p,.news_text_pic p {
  float:right;
  width:500px;
  text-align:left;
  color:#999;
  padding:5px;
  text-indent:2em;
}

.news_text p {
  width:650px;
}

a.news_text_img {
  display:block;
  float:left;
  width:120px;
  height:100px;
  overflow:hidden;
  border:1px solid #ccc;
}

.news_text_img img {
  
  width:120px;
  height:auto;
  margin-right:15px;
}

.list1 a,.list2 a,.list3 a {
  padding-right:30px;
  background:url(new.gif) right 2px no-repeat;
}

/************* 产品 */
.product_box {
  float:left;
  width:142px;
  margin:5px 10px;
  padding:5px;
  background:url(piclist_1.png) right top no-repeat;
  overflow:hidden;
}
.product_box img {
  width:142px;
}

.product_box a {
  display:block;
  width:142px;
  height:114px;
  font-size:12px;
  overflow:hidden;
  color:#333;
}

.product_box h5 {
  margin-top:10px;
  text-align:center;
  font-weight:normal;
}

.product_box h5 a {
  height:44px;
  line-height:18px;
}

.p_info {
  height:20px;
  line-height:20px;
  padding-left:30px;
  background:url(bullet1.gif) left top no-repeat;
  color:#0D61BA;
  font-size:14px;
  font-weight:bold;
}

/************* 当前位置 */
#position {
  line-height:22px;
  padding-bottom:5px;
  color:#999;
  text-align:right;
  background:url(point.gif) left 26px repeat-x;
}

#position a {
  height:12px;
  line-height:12px;
  padding:7px 10px;
  background:url(icon02.gif) left 9px no-repeat;
  color:#999;
}
.r-line{
  width:100%;
  height:3px;
  background:#eee;
  margin-bottom:10px;
}
/************* 搜索 */
#search {
  height:18px;
  line-height:18px;
margin-bottom:20px;
}



.s_btn {width:17px;height:18px;border:none;background:url(search.gif);}

/************* 代码高亮 */
.dp-HighLighter {border:1px solid #ccc;background:#F7F7F7 url(codebg.gif) left top repeat-y;}
.dp-HighLighter ol {padding-left:40px;}
.dp-HighLighter ol li {
  padding-left:10px;
  list-style-type:decimal;
}
.tools {padding-left:10px;background:#F7F7F7;border-bottom:1px solid #ccc;}

/************* 投票 */
.vote-list {padding:10px;}

.vote-list li {
  clear:both;
  height:20px;
  line-height:20px;
  font-size:12px;
  text-align:left;
}

.vote-list #button {
  float:right;
}

#ballot {
  height:10px;
  _height:16px;
  margin:0px 5px 0px 0px;
}

.date {float:right;color:#999;}

.list li {padding-left:20px;background:url(icon05.gif) left center no-repeat;}

.date {float:right;}

ul#navmenu {z-index:99;position: relative; }

ul#navmenu li { 
margin: 0; 
border: 0 none; 
padding: 0; 
float: left; /*For Gecko*/ 
display: inline; 
list-style: none; 
position: relative; 

} 
ul#navmenu ul { 
margin: 0; 
border: 0 none; 
padding: 0; 
width: 200px; 
list-style: none; 
display: none; 
position: absolute; 
top: 38px; 
left: 0; 

} 
ul#navmenu ul li { 
line-height:28px;
float: none; /*For Gecko*/ 
display: block !important; 
display: inline; /*For IE*/ 
} 

ul#navmenu ul li a {
background:url(images/navmenu_bg.png) repeat-y left top;
background:url(images/navmenu_bg.png) no-repeat left top !important; 
/*For Firefox*/
*background:none;
/*For IE7 & IE6*/
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/navmenu_bg.png',sizingMethod='crop');
width:180px;
height:28px;
line-height:28px;
display:block;
}

/* 2nd Menu */ 
ul#navmenu li:hover li a, 
ul#navmenu li.iehover li a { 
float: none; 
color: #FFF; 
font-size:12px;
height:28px;
line-height:28px;
font-weight:normal;
padding:0px 10px 0px 10px;
border-bottom:1px solid #888;
} 
/* 2nd Menu Hover Persistence */ 
ul#navmenu li:hover li a:hover, 
ul#navmenu li:hover li:hover a, 
ul#navmenu li.iehover li a:hover, 
ul#navmenu li.iehover li.iehover a { 
color: #FFF; 
background:none;
} 
/* 3rd Menu */ 
ul#navmenu li:hover li:hover li a, 
ul#navmenu li.iehover li.iehover li a { 
color: #FFF; 
} 
/* 3rd Menu Hover Persistence */ 
ul#navmenu li:hover li:hover li a:hover, 
ul#navmenu li:hover li:hover li:hover a, 
ul#navmenu li.iehover li.iehover li a:hover, 
ul#navmenu li.iehover li.iehover li.iehover a { 
color: #FFF; 
} 
/* 4th Menu */ 
ul#navmenu li:hover li:hover li:hover li a, 
ul#navmenu li.iehover li.iehover li.iehover li a { 
color: #FFF; 
} 
/* 4th Menu Hover */ 
ul#navmenu li:hover li:hover li:hover li a:hover, 
ul#navmenu li.iehover li.iehover li.iehover li a:hover { 
color: #FFF; 
} 
ul#navmenu ul ul, 
ul#navmenu ul ul ul { 
display: none; 
position: absolute; 
top: 0; 
left: 200px; 
} 
/* Do Not Move - Must Come Before display:block for Gecko */ 
ul#navmenu li:hover ul ul, 
ul#navmenu li:hover ul ul ul, 
ul#navmenu li.iehover ul ul, 
ul#navmenu li.iehover ul ul ul { 
display: none; 
} 
ul#navmenu li:hover ul, 
ul#navmenu ul li:hover ul, 
ul#navmenu ul ul li:hover ul, 
ul#navmenu li.iehover ul, 
ul#navmenu ul li.iehover ul, 
ul#navmenu ul ul li.iehover ul { 
display: block; 
} 

#content {line-height:200%;font-size:14px;}
#content table {font-size:12px;}


#list-view li {
float:left; 
width:156px; 
text-align:center; 
overflow:hidden; 
margin:0 0px 5px; 
padding:0 5px; 
vertical-align:100%;
}

.img-wrap{
  margin:0 auto;
  width:90%;
  height:150px;
  overflow:hidden; 
  /*非IE的主流浏览器识别的垂直居中的方法*/
  display: table-cell;
  vertical-align:middle;
  /*设置水平居中*/
  text-align:center;
  /* 针对IE的Hack */
  *display: block;
  *font-size: 139px;/*约为高度的0.873，200*0.873 约为175*/
  *font-family:Arial;/*防止非utf-8引起的hack失效问题，如gbk编码*/
}
.img-wrap img {
  display:block;
  width:126px;
  width:80%\0;
  _width:120px;
  margin:0px auto;
  vertical-align:middle;
  padding:5px;
  border:1px solid #ccc;
  _border:none;
  background:url(images/pic_bg.gif) left top no-repeat;
  border-right:1px solid white; 
  border-bottom:1px solid white;
   /*非IE的主流浏览器识别的垂直居中的方法*/
  display: table-cell;
  vertical-align:middle;
  /*设置水平居中*/
  text-align:center;
  /* 针对IE的Hack */
  *display: block;
  *font-size: 139px;/*约为高度的0.873，200*0.873 约为175*/
  *font-family:Arial;/*防止非utf-8引起的hack失效问题，如gbk编码*/
  }

.list_text_pic {float:left;width:140px; height:120px; vertical-align:100%;}
.list_text_pic .img-wrap {height:120px;}

#list-view h5 a {
clear:both;
  width:142px;
  overflow:hidden;
  height:18px;
  line-height:18px;
  margin-top:10px;
  font-size:12px;
   text-align:center;
  font-weight:normal;
}
#list-view span {color:red;}
#list-view h5 p {height:18px;
  line-height:18px;}
.back,.btn {
  display:block;
  clear:both;
  width:72px;
  height:21px;
  line-height:20px;
  margin:15px 0px;
  padding-left:10px;
  background:url(images/back.gif) left top no-repeat;
  text-align:center;
  color:white;
  font-size:12px;
  text-decoration: none;
  border:none;
}

.back a,.back a:hover {text-decoration: none;color:white;}

.input_d {
  width:190px;
  height:29px;
  line-height:29px;
  padding:0px 10px;
  background:url(images/input_bg_d.gif) left top no-repeat;
  border:none;
  font-size:12px;
}



.input_c {
  width:39px;
  height:21px;
  line-height:21px;
  padding:0px 10px;
  background:url(images/input_bg_c.gif) left top no-repeat;
  border:none;
  font-size:12px;
}

#addcontentuser {
  padding:5px;background:#E47C01;color:white;
}

#catid {height:27px;
  line-height:27px;border:1px solid #999;color:#333;}
.top_input{ float:left; padding-left:8px;}

.top_inputimg{ 
float:left; margin-left:8px; padding:0px 8px;height:27px;
  line-height:27px;color:white;
  background:url(images/btn.gif) right top no-repeat;border:none;
  }

.top_input input {margin:10px 0px;
	background-image: url(sm_2.gif);
	background-repeat: no-repeat;
	background-position: left;
	border:1px solid #999;color:#999;
	height:25px;
  line-height:25px;
	text-align: left;
	text-indent: 24px;
	color:#CCC;
	font-size:12px;
}


/****************评论*/
#comment {
  margin-top:20px;
  font-size:12px;
}

#comment input {font-size:12px;}

.comm {
  height:28px;
  line-height:28px;
  padding-left:35px;
  background:url(images/comment.gif) 10px 7px no-repeat;
}

.input {
  width:72px;
  height:21px;
  line-height:21px;
  padding-left:10px;
  border:none;
  font-weight:bold;
  font-size:12px;
}

#textarea {
  width:100%;
  height:50px;
  background:#FFF url(images/cmslogo.gif) right bottom no-repeat;
  border-top:1px solid #E0DDDD;
  border-right:1px solid #E0DDDD;
  border-bottom:1px solid #E0DDDD;
  border-left:1px solid #E0DDDD;
}
.comment_list {padding:0px 20px;}
.comment_list dd {font-size:12px;background:url(images/point.gif) left bottom repeat-x;}
.comment_list dt span {float:right;color:#ccc;}

.commentnumber {padding:0px 5px;color:#CC0000;}

.comment_list dt strong {color: #70AADA;}

.comment_list dd.admin_reply  {margin:10px; padding:10px;border:1px dotted #ccc; background:#FFFFEE;}

.p_info,.d_info {
  height:20px;
  line-height:20px;
  padding-left:20px;
  background:url(images/rank_1.gif) left center no-repeat;
  color:#0D61BA;
  font-size:14px;
  font-weight:bold;
}

#inputsearch {width:160px;}