<div id="bd_leftg">
			  <div class="titleg"><div class="title_w">快速查找</div><div class="title_r"><img src="{$skin_path}/ls_13.gif" /></div>
				</div>
                <div class="content1g">
                        <div style="padding:20px 0px 0px 20px;">
<form name='search' action="<?php echo url('archive/search');?>" onsubmit="search_check();" method="post">
<input  id="inputsearch" name="keyword" type="text" align="absmiple" />&nbsp; 
<input type="submit" class="s_btn" align="absmiple" name='submit' value=" " />
</form>
</div>
                    </div>
            </div>