{template 'header.html'}
<!--head部结束-->
<div id="bd">
{template 'left.html'}
<!--left_1 end-->

<div class="right_2">
<div class="rl_box2g">
 <div class="rl_box2_title">
    <div class="rl_box2_titlelg">网站公告</div>
<div id="position">
        <strong>当前位置：</strong><a title="{get('sitename')}" href="{$base_url}">{get('sitename')}</a><a title="{$t['name']}" href="{$t.url}">网站公告</a>
    </div>
 </div>

<div id="title">
			<h1>{$announ[title]}</h1>

</div>
<!-- 正文 -->
<div id="textDiv" style="width:625px;" class="text">{$announ[content]}</div>
<div class="blank10"></div>

			<div class="blank30"></div>

	<div class="clear"></div>
	</div>
	<div class="clear"></div>
	</div>
	<script> 
function resizeImg(obj)
{ 
var obj = document.getElementById(obj); 
var objContent = obj.innerHTML;
var imgs = obj.getElementsByTagName('img'); 
if(imgs==null) return; 
for(var i=0; i<imgs.length; i++) 
{ 
if(imgs[i].width>parseInt(obj.style.width)) 
{ 
imgs[i].width = parseInt(obj.style.width);
} 
} 
} 
window.onload = function() {resizeImg('textDiv');
} 
</script>
<div class="clear"></div>
</div>
<!--box end-->
{template 'footer.html'}