<form name='search' action="<?php echo url('archive/search');?>" onsubmit="search_check();" method="post">
                <div class="title">
                    <div class="title_fh"><img src="{$skin_path}/rj_5.gif" /></div>
                    <div class="title_wd">产品搜索</div>
                </div>      
                <div class="Forms_dw" style="background:white;padding:15px 20px;"><input  id="inputsearch" name="keyword" type="text" class="input" value="请输入您的关键词！"  height="24" size="24"/>
				<div class="blank20"></div>
                <input name="submit" value="" type="image" src="{$skin_path}/rj_8.gif" />
                <div class="blank10"></div></div>
			  </form>