{template 'header.html'}
<!--head部结束-->
<div id="bd">
{template 'left.html'}
<!--left_1 end-->

<div class="right_2">
<div class="rl_box2g">
{template 'position.html'}

{loop categories($catid) $i $t}
		<div class="category_title">
			<span><a title="{$t[catname]}" href="{category::url($t[catid])}">more</a></span><a title="{$t[catname]}" href="{category::url($t[catid])}">{$t[catname]}</a>
		</div>

			{loop archive($t[catid],0,0,'0,0,0',20,'aid',10,false,0) $i $archive} 
			<div class="product_box">
			<div class="p_box"><a title="{$archive[stitle]}" target="_blank" href="{$archive[url]}"><img alt="{$archive[stitle]}" src="{$archive[sthumb]}" onerror='this.src="{$base_url}/{config::get('onerror_pic')}"' /></a></div>
			<h5><a title="{$archive[stitle]}" target="_blank" href="{$archive[url]}">{$archive[title]}</a></h5>
		</div>
			{/loop}

		<div class="blank10"></div>
		{/loop}

<div class="blank30"></div>

	<div class="clear"></div>
    </div>
  <div class="clear"></div>
  </div>
<div class="clear"></div>
</div>
<!--box end-->
{template 'footer.html'}