

<div class="box">
    <h2>会员信息</h2>
    <div style="padding:10px 15px 5px 15px;" id="login_info">
        欢迎你， {$user.username}!<br>
        <a href="{url('user/logout')}">退出</a>
        {if $user['username']=='admin'}
        | <a href="/admin" target="_blank">后台管理</a>
        {/if}
    </div>
</div>

<div class="clear"></div>

<div class="box">
    <h2>信息管理</h2>
    <ul>
        <li><a href="{url('user/changepassword')}">更改密码</a>
    </ul>
</div>

<div class="clear"></div>

<div class="box">
    <h2>文章管理</h2>
    <ul>
        <li><a href="{url('manage/add/manage/archive')}">发表文章</a>
        <li><a href="{url('/manage/list/manage/archive/needcheck/1')}">待审核文章</a>
        <li><a href="{url('/manage/list/manage/archive')}">已审核文章</a>
    </ul>
</div>


