{template 'header.html'}
<div id="c">
	<div id="sidebar">
	{template 'left.html'}
	</div>

	<div id="right">
		{template 'position.html'}
		<div id="text" style="width:630px;">
			<h1>{$category[$catid][catname]}</h1>
			<div class="text">

<!-- 内容 -->
{$category[$catid][categorycontent]}

<div class="blank30"></div>

{template 'ditu.html'}

</div>
			<div class="blank10"></div>
		</div>
		<div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
<div class="blank30"></div>
	</div>
	<div class="clear"></div>
</div>
</div>
{template 'footer.html'}