{template 'header.html'}
<div id="bd">
      {template 'left.html'}<!-- 调用通用左栏 -->	
      <div id="bd_right2">
      	<div class="box1">
        	{template 'position.html'}
            <div class="content">

                       <div class="pd">
<h1 id="title">{type::getpositionhtml($type['typeid'])}</h1>
<div id="text" style="width:620px;">

{$type[typecontent]}

<div class="blank30"></div>
</div>
            </div>
        </div>
        </div>
      <div class="clear"></div>
    </div>


<script> 
function resizeImg(obj)
{ 
var obj = document.getElementById(obj); 
var objContent = obj.innerHTML;
var imgs = obj.getElementsByTagName('img'); 
if(imgs==null) return; 
for(var i=0; i<imgs.length; i++) 
{ 
if(imgs[i].width>parseInt(obj.style.width)) 
{ 
imgs[i].width = parseInt(obj.style.width);
} 
} 
} 
window.onload = function() {resizeImg('text');
} 
</script>
{template 'footer.html'}