{template 'header.html'}
	<div class="sidebar">
		{template 'left.html'}
	</div>
	<!--  -->
	<div id="right">
		{template 'position.html'}
		<div id="title" style="width:640px;">
			<h1> “{$keyword}” </span>{lang(searchresults)}：</h1>
			<div class="text">
<ul class="news_list">
		{loop $articles $article}
		{cb_data($article)}
		<li><span class="date">{$article['adddate']}</span>[	<a href="{$article[caturl]}">{$article[catname]}</a>	]	 <a href="{$article[url]}"><?php if($keyword) echo str_replace($keyword,"<span style=color:red;font-weight:bold;>$keyword</span>",$article['title']); else { ?>{$article[title]}<?php } ?></a>
		{/loop}
	</ul>
	<div class="blank10"></div>
	<!-- 内容列表分页 -->
	<div class="pages">
		<?php echo pagination::html($record_count,5); ?>
	</div>
</div>
<div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
<div class="blank30"></div>
</div><div class="clear"></div>
	</div>

{template 'footer.html'}