{template 'header.html'}
<div id="bd2j">
<div id="bd_box">
<div id="bd_leftg">
{template 'left.html'}
<div>
<img src="{$skin_path}/hy_11.gif" width="250" height="62" /></div>
</div>
<div id="bd_rightg">
{template 'position.html'}

<div class="pd">
<div id="content" style="width:620px;">
<div style="text-align:center;color:red;"><?php if(hasflash()) { ?>
<?php echo showflash(); ?>
<?php } ?>
</div>
<style>
#table tr td {line-height:32px;}
</style>
<form method="post" action="" name="form1">
		  <table width="580" border="0" align="center" cellpadding="7" cellspacing="0" id="table">
             <tr>
                <td width="100">&nbsp;&nbsp;&nbsp;联系人：</td>
                <td>{form::input('nickname',get('username'))}
                <span style="color:#FF0000"> *</span></td>
                <td width="100"></td>
              </tr>
			  <tr>
                <td width="100">&nbsp;&nbsp;&nbsp;联系电话：</td>
                <td>{form::input('guesttel',get('guesttel'))}
                <span style="color:#FF0000"> *</span></td>
                <td width="100"></td>
              </tr>
			  <tr>
                <td width="100">&nbsp;&nbsp;&nbsp;联系邮箱：</td>
                <td>{form::input('guesttel',get('guestemail'))}
                <span style="color:#FF0000"> *</span></td>
                <td width="100"></td>
              </tr>
			  <tr>
                <td width="100">&nbsp;&nbsp;&nbsp;联系QQ：</td>
                <td>{form::input('guesttel',get('guestqq'))}
                <span style="color:#FF0000"> *</span></td>
                <td width="100"></td>
              </tr>
			  {loop $field $f}
<?php
 $name=$f['name'];
 if($name==$primary_key) continue; ?>
<tr>
                <td>&nbsp;&nbsp;&nbsp;{$name|lang}：</td>
                <td colspan="2">{form::getform($name,@$form,$field,@$data)} </td>
              </tr>
 {/loop}

            
              <tr>
                <td>&nbsp;&nbsp;&nbsp;验证码：</td>
                <td colspan="2"><span style="float:left;">{verify()}</span><span style="float:left;padding-left:10px;"><input type='text' id="verify"  name="verify" size="10" /></span><span style="color:#FF0000;float:left;">*</span>&nbsp;&nbsp;&nbsp;</td>
              </tr>
			  <tr>
                <td colspan="3" align="center">&nbsp;
                  </td>
              </tr>
              <tr>
                <td colspan="3" align="center"><input type="submit" name="submit" value="提交" style="float:right;padding:2px; background:none; border:0px none; background-color:#DDDDDD; color:#000000; width:70px;" />
                  </td>
              </tr>
            </table>
</form>
<div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
<div class="blank30"></div>

</div>
</div>
</div>
<div class="clear"></div>
</div>
{template 'footer.html'}