{template 'header.html'}
<div id="container">
<!-- 左侧导航 -->
{template 'left.html'}
<!-- 右侧功能区 -->
<div id="main">
<div id="content">

<!-- 正文 -->
<div class="contenttext">
            <div class="pd_title">{$announ[title]}</div>
                       <div id="content" style="width:690px;" class="pd">
{$announ[content]}
</div>
<div class="blank10"></div>
<a href="#" class="clear floatright">Top&nbsp;&nbsp;</a>
</div>
<div class="clear"></div>
<div id="containerbottom"></div>
</div>

{template 'footer.html'}