@charset "utf-8";
html {
  scrollbar-face-color : #F5F5F5;
  scrollbar-arrow-color :white;
}
img  {border: 0px;}
html {min-width: 962px;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
form, fieldset, legend, button, input, textarea, 
th, td
{margin:0px;padding:0px;}
fieldset, img {border:0;}
li {list-style:none;}
body,button, input, select, textarea /* for ie */ {font: 12px tahoma,Helvetica,arial, "\5b8b\4f53", sans-serif;}
address, cite, dfn, em, var { font-style: normal; } 
code, kbd,samp { font-family: courier new, courier, monospace; }

ins {text-decoration:none;}
del {text-decoration:line-through;}
h1, h2, h3, h4, h5, h6 {}
h1 {font-size: 2em;}
h2 {font-size: 1.7em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.38em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1.1em;font-style: italic;}
address,cite,dfn,em,var{font-style:normal;}
caption,td {font-weight: normal;}
cite, blackquote, em, i {font-style: italic;}
strong, b {	font-weight: bold;}
pre, code {font-family: monospace;font-size: 1.1em;}
abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help;}

body{line-height:200%;background:#049e00 url(lv_1.gif) repeat-x top;margin:0px; font-size:12px; font-family:"宋体";}
#main{ width:980px;margin:0 auto;padding:0px auto;}
#header{ width:980px;}
#bd{background:#ffffff;border-left: #34960d 1px solid; border-right: #34960d 1px solid; padding-top:16px;}
#bd_left{ width:257px;float:left; padding-left:24px;}
#bd_right{ width:654px;float:right;padding-right:24px;text-align:left;}
.clear{ clear:both;}
#footer{text-align:center;background:#ffffff url(lv_18.gif) no-repeat bottom; padding-top:8px; clear:both;border-left: #34960d 1px solid; border-right: #34960d 1px solid; margin-bottom:16px;}

.top{ background:url(lv_6.gif) no-repeat bottom right; height:108px;}
#logo {
float:left;
width:347px;
height:60px;
overflow:hidden;
background:url(lv_2.gif) left 33px no-repeat;
padding:43px 0px 0px 10px;
}
.logo{ float:left; }
.top_right{ float:right; padding-top:53px; padding-right:16px;}
.top_right1{ float:left;}
.top_right2{ float:left; padding-top:12px; padding-left:8px; padding-right:12px; color:#FFFFFF; font-family:Arial, "宋体";}
.top_right3{ float:left; padding-top:5px; padding-left:8px;}
.top_right4{ float:left; padding-top:5px; padding-left:8px;}

.top_right3 input {
	font-family: Arial, "宋体";
	font-size: 12px;
	background-image: url(lv_4.gif);
	background-repeat: no-repeat;
	background-position: right;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	height:24px;
	line-height:24px;
	width:190px;
	text-indent: 12px;
	color:#999999;
}
a{ text-decoration: none; color:#333;}
a:hover{ text-decoration: underline; color:red;}

.banner{ background:#FFFFFF; border-left: #34960d 1px solid; border-right: #34960d 1px solid;clear:both; padding:8px 15px 0px ;text-align:center; width:948px; overflow:hidden; }

.navbax{ background:#FFFFFF;border-left: #34960d 1px solid; border-right: #34960d 1px solid; clear:both;}
.nav{width:950px; background:url(lv_9.gif) no-repeat right; height:47px; margin:0 auto;padding:0px auto;}
.nav_l{ float:left;}
.nav_c{}
.nav_ul{ margin:0px; padding:0px; font-size:14px;text-align:center; font-family:Microsoft YaHei,"宋体";}
.nav_ul li{ margin:0px;padding:0px;color:#ffffff;float:left;list-style-type: none;line-height:47px; height:47px;font-family:Microsoft YaHei,"宋体";}
.nav_ul li a{font-size:14px; font-weight:bold; color:#ffffff; float:left; text-decoration: none; display:block; width:94px;font-family:Microsoft YaHei,"宋体"; }
.nav_ul li a:hover{color:#c2ff00; background:url(lv_17.gif) no-repeat top  center;line-height:47px; height:47px;}
.nav_ul .m a{color:#c2ff00; background:url(lv_17.gif) no-repeat top  center;line-height:47px; height:47px;}

.box{}
.title{ background:url(lv_14.gif) no-repeat right; height:40px;}
.content{}
.title_wd{ float:left;font-size:14px; font-family:Microsoft YaHei,"宋体"; padding-top:14px; padding-left:13px; color:#0da401;}
.more{ float:right; padding-right:24px; padding-top:21px;}
.titleg{ background:url(lv_13.gif) no-repeat right; height:40px;}
.title_wdg{ float:left;font-size:14px; font-family:Microsoft YaHei,"宋体"; padding-top:14px; padding-left:24px; color:#0da401;}
.moreg{ float:right; padding-right:24px; padding-top:21px;}
.ul2{
	clear:both;
	margin:0px;
	padding:6px 8px 8px 12px;
	text-align:left;
	font-family:Arial, "宋体";
	font-size:12px;
	}	
.ul2 li{
	font-family:Arial, "宋体";
	font-size:12px;
	line-height:26px;
	height:26px;
	list-style-type: none;
	color:#666666;
	display:block;
	padding:0px;
	display:block;
	background:url(mb_14.gif) no-repeat left bottom;
	white-space:nowrap;
	}	
.ul2 li a{
	color:#666666;
	text-decoration: none;
	margin-left:15px;
	}	
.ul2 li a:hover{
	color:#ff8707;
	}
.ul2 .date{
	color:#999999;
	float:right;
	width:55px;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
}

.bd_right_left{ float:left; width:380px;}
.bd_right_right{ float:right; width:257px;}

.p{ line-height:24px; text-align:left; color:#666666; font-family:Arial, "宋体"; padding:8px 8px 5px 24px; margin:0px;}
.pg{ line-height:24px; text-align:left; color:#666666; font-family:Arial, "宋体"; padding:8px 8px 8px 13px; margin:0px;}

.title1{ background:url(lv_11.gif) no-repeat right; height:30px; line-height:30px;}
.title1_wd{ color:#FFFFFF; font-size:14px;font-family:Microsoft YaHei,"宋体"; padding-left:8px; float:left;}
.more1{ font-size:12px; color:#FFFFFF; font-family:Arial, "宋体"; line-height:30px; float:right; padding-right:16px;}
.more1 a{color:#FFFFFF;text-decoration:none;}
.more1 a:hover{color:#ffffff;text-decoration:underline;}

.title1_left{ float:left;}
.title1g{ background:url(lv_11g.gif) no-repeat right; height:30px; line-height:30px;}
.title1g_wd{ color:#0da401; font-size:14px;font-family:Microsoft YaHei,"宋体"; padding-left:8px; float:left;}

.more1g{ font-size:12px; color:#0da401; font-family:Arial, "宋体"; line-height:30px; float:right; padding-right:16px;}
.more1g a{color:#0da401; text-decoration:none;}
.more1g a:hover{color:#ff8707; text-decoration:underline;}

.pro_left{ float:left; padding:16px 8px 0px 8px;}
.pro_right{ float:right;padding:16px 8px 0px 8px;}
.pro_center{}

.prod_box{float:left;display:block;text-align:center; padding-left:24px; padding-top:20px;}
img.prod{border:1px solid #ECF7E6;width:112px;height:97px;background:#FFffff; padding:1px;}
a.prod_font{padding:0px;text-decoration:none;color:#0da401; line-height:26px;}
a:hover.prod_font{padding:0px;text-decoration:none;color:#ff8707; line-height:26px;}

.foot_cprt{ padding:8px 0px 8px 0px; margin-left:16px; margin-right:16px; border-top:#CCCCCC 1px solid; line-height:32px; color:#999999; font-family:Arial, "宋体";}


.ul2g{
	clear:both;
	margin:0px;
	padding:6px 8px 8px 12px;
	text-align:left;
	font-family:Arial, "宋体";
	font-size:12px;
	}	
.ul2g li{
	font-family:Arial, "宋体";
	font-size:12px;
	line-height:28px;
	height:28px;
	list-style-type: none;
	color:#666666;
	display:block;
	padding:0px;
	display:block;
	background:url(mb_14g.gif) no-repeat left bottom;
	white-space:nowrap;
	}	
.ul2g li a{
	color:#666666;
	text-decoration: none;
	margin-left:15px;
	}	
.ul2g li a:hover{
	color:#ff8707;
	}
.ul2g .date{
	color:#999999;
	float:right;
	width:55px;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
}

.pd_title{font-size:18px; line-height:26px; color:#0da401; text-align:center; padding:20px 20px 0px 20px; font-weight:bold; border-bottom:#eeeeee dotted 0px; font-family:Microsoft YaHei,"宋体";}
.pd{ font-size:12px; line-height:26px; color:#666666; text-align:left; margin:15px 25px 25px 25px;}

.prodg_box{float:left;display:block;text-align:center; padding-left:16px; padding-top:16px;}
img.prodg{border:1px solid #ececec;width:130px;height:113px;background:#FFffff; padding:5px;}
a.prodg_font{padding:0px;text-decoration:none;color:#0da401; line-height:26px;}
a:hover.prodg_font{padding:0px;text-decoration:none;color:#ff8707; line-height:26px;}


/*首页滚动*/
.scoll_img{
float:left;
width:330px;
}

.scoll_img a{
	color:#666666;
	text-decoration: none;
	margin-left:15px;
	}	
.scoll_img a:hover{
	color:#ff8707;
	}

.GalleryPictureScroller
{
	margin: 5px 10px;
	height: 158px;
	width:330px;
	overflow:hidden;
	text-align:center;
}
.GalleryPictureScrollerMoveLeft
	{
		background:url(lv_15.gif) 0px 20px;
		background-repeat: no-repeat;
		width: 14px;
		height: 158px;
		cursor: pointer;
	}
.GalleryPictureScrollerMoveRight
	{
		background:url(lv_16.gif) 0px 20px;
		background-repeat: no-repeat;
		width: 14px;
		height: 158px;
		cursor: pointer;
	}

.GalleryPictureScrollerImageArea
{
	padding:0 5px;
	width:142px;
	height:155px;
	overflow: hidden;
	font-weight:bold;
}


.GalleryPictureScrollerImage{
	height:120px;width:140px;
	text-align:center;/*水平居中*/
	font-size:110px;/*IE靠这垂直居中*/ 
	display: table-cell;
	vertical-align:middle;
	overflow:hidden;
}
.GalleryPictureScrollerImage img {
    height:110px;
}
.GalleryPictureScrollerImage a {display:block;height:120px;width:140px;overflow:hidden;text-align:center;/*水平居中*/
	font-size:110px;/*IE靠这垂直居中*/ 
	display: table-cell;
	vertical-align:middle;}
.GalleryPictureScrollerDetails a {line-height:16px;font-size:12px;font-weight:normal;}
.foot_cprt a{
	color:#666666;
	text-decoration: none;
	margin-left:2px;
	
	}	
.foot_cprt a:hover{
	color:#ff8707;
	}
	
/*工具*/
#tool a{
	color:#666666;
	text-decoration: none;
	margin-left:2px;
	}	
#tool a:hover{
	color:#ff8707;
	}

#tool {
	font-size:12px;
	line-height:20px;
	border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;
	height:20px;
	margin:10px 0;
	padding:10px 0 10px 10px;
	overflow: hidden;
}
#tool ul {
	float:left;
	list-style-type:none;
}
#tool ul li {
	float:left;
	width:90px;
	line-height:20px;
}
#tool .commentary, #tool .print, #tool .copy, #tool .email, #tool .close, #tool .rss_2, #tool .t_1, #tool .t_2, #tool .t_3 {
	background-image: url(tool.gif);
	background-repeat: no-repeat;
	background-position: left -20px;
	height:20px;
	line-height:20px;
	padding:0 0 0 25px;
	display:block;
	margin:0 10px 0 0;
	color:#333;
}
#tool .print {
	background-position: left -40px;
}
#tool .copy {
	background-position: left -80px;
}
#tool .email {
	background-position: left -100px;
}
#tool .close {
	background-position: left -60px;
}
#tool .rss_2 {
	background-position: left -120px;
}
#tool .t_1 {
	background-position: left -140px;
}
#tool .t_2 {
	background-position: left -160px;
}
#tool .t_3 {
	background-position: left -180px;
}

#tool .t_4 {padding-left:20px;background:url(comment.gif) left -1px no-repeat;}
#tool .orders {padding-left:20px;background:url(orders.gif) left 2px no-repeat;}
#tool .sinaicon {padding-left:20px;background:url(sinaicon.png) left -3px no-repeat;}

/************* 分页 */

.pages {
  clear:both;
  margin:0px 10px;
}

.pages strong {
  color:#555;
  display:block;
  float:left;
  height:18px;
  line-height:18px;
  float:left;
  padding:0px 8px;
  background:#F5F5F5;
  border:1px solid #ccc;
  margin: 0px 3px 0px 0px;
}
.pages a {
  display:block;
  float:left;
  height:18px;
  line-height:18px;
  float:left;
  padding:0px 8px;
  border:1px solid #CCC;
  text-decoration:none;
  margin: 0px 3px 0px 0px;
  color:#555;
}

.pages span {
  float:right;
}

.date {float:right;color:#999;}
.blank5,.blank10,.blank30 {clear:both;height:5px;overflow:hidden;}
.blank10 {height:10px;}
.blank30 {height:30px;}

.treemenu { 

  font-size:14px;
}

.treemenu dt {

}

.parent {
	cursor: pointer;
	position: relative;
	line-height:32px;
	margin:2px 0px;
}
.parent a {display:block;padding:0px 8px 0px 20px; font-size:14px;}
.parent a:hover {text-decoration: none;}
.open{
	border:solid 1px #e7e7e7;
	font-weight:bold;
	color:#0160b0;
	}

	.close{}

#p1,#p1 a {background:#8E8E8E url(images/dot_r.gif) 5px center no-repeat;color:white; font-weight:bold;}

.child {

}
.child a{
  display:block;
  padding-left:15px;
  font-family:"宋体";

	line-height:32px;
	height:32px;
	list-style-type: none;

	display:block;

	white-space:nowrap;
}
.child a:hover{
  text-decoration:underline;
  }


.child .c_current{ font-size:20px;}

	ul#navmenu {z-index:99;position: relative; }

ul#navmenu li { 
margin: 0; 
border: 0 none; 
padding: 0; 
float: left; /*For Gecko*/ 
display: inline; 
list-style: none; 
position: relative; 

} 
ul#navmenu ul { 
margin: 0; 
border: 0 none; 
padding: 0; 
width: 200px; 
list-style: none; 
display: none; 
position: absolute; 
top: 38px; 
left: 0; 

} 
ul#navmenu ul li { 
line-height:28px;
float: none; /*For Gecko*/ 
display: block !important; 
display: inline; /*For IE*/ 
} 

ul#navmenu ul li a {
background:url(images/navmenu_bg.png) repeat-y left top;
background:url(images/navmenu_bg.png) no-repeat left top !important; 
/*For Firefox*/
*background:none;
/*For IE7 & IE6*/
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/navmenu_bg.png',sizingMethod='crop');
width:180px;
height:28px;
line-height:28px;
display:block;
}

/* 2nd Menu */ 
ul#navmenu li:hover li a, 
ul#navmenu li.iehover li a { 
float: none; 
color: #FFF; 
font-size:12px;
height:28px;
line-height:28px;
font-weight:normal;
padding:0px 10px 0px 10px;
border-bottom:1px solid #888;
} 
/* 2nd Menu Hover Persistence */ 
ul#navmenu li:hover li a:hover, 
ul#navmenu li:hover li:hover a, 
ul#navmenu li.iehover li a:hover, 
ul#navmenu li.iehover li.iehover a { 
color: #FFF; 
background:none;
} 
/* 3rd Menu */ 
ul#navmenu li:hover li:hover li a, 
ul#navmenu li.iehover li.iehover li a { 
color: #FFF; 
} 
/* 3rd Menu Hover Persistence */ 
ul#navmenu li:hover li:hover li a:hover, 
ul#navmenu li:hover li:hover li:hover a, 
ul#navmenu li.iehover li.iehover li a:hover, 
ul#navmenu li.iehover li.iehover li.iehover a { 
color: #FFF; 
} 
/* 4th Menu */ 
ul#navmenu li:hover li:hover li:hover li a, 
ul#navmenu li.iehover li.iehover li.iehover li a { 
color: #FFF; 
} 
/* 4th Menu Hover */ 
ul#navmenu li:hover li:hover li:hover li a:hover, 
ul#navmenu li.iehover li.iehover li.iehover li a:hover { 
color: #FFF; 
} 
ul#navmenu ul ul, 
ul#navmenu ul ul ul { 
display: none; 
position: absolute; 
top: 0; 
left: 200px; 
} 
/* Do Not Move - Must Come Before display:block for Gecko */ 
ul#navmenu li:hover ul ul, 
ul#navmenu li:hover ul ul ul, 
ul#navmenu li.iehover ul ul, 
ul#navmenu li.iehover ul ul ul { 
display: none; 
} 
ul#navmenu li:hover ul, 
ul#navmenu ul li:hover ul, 
ul#navmenu ul ul li:hover ul, 
ul#navmenu li.iehover ul, 
ul#navmenu ul li.iehover ul, 
ul#navmenu ul ul li.iehover ul { 
display: block; 
} 

#content {line-height:200%;font-size:14px;}
#content table {font-size:12px;}


#list-view li {
float:left; 
width:150px; 
text-align:center; 
overflow:hidden; 
margin:0 0px 5px; 
padding:0 5px; 
vertical-align:100%;
}

.img-wrap{
  margin:0 auto;
  width:90%;
  height:150px;
  overflow:hidden; 
  /*非IE的主流浏览器识别的垂直居中的方法*/
  display: table-cell;
  vertical-align:middle;
  /*设置水平居中*/
  text-align:center;
  /* 针对IE的Hack */
  *display: block;
  *font-size: 139px;/*约为高度的0.873，200*0.873 约为175*/
  *font-family:Arial;/*防止非utf-8引起的hack失效问题，如gbk编码*/
}
.img-wrap img {
  display:block;
  width:136px;
  width:80%\0;
  _width:120px;
  margin:0px auto;
  vertical-align:middle;
  padding:5px;
  border:1px solid #ccc;
  _border:none;
  background:url(images/pic_bg.gif) left top no-repeat;
  border-right:1px solid white; 
  border-bottom:1px solid white;
   /*非IE的主流浏览器识别的垂直居中的方法*/
  display: table-cell;
  vertical-align:middle;
  /*设置水平居中*/
  text-align:center;
  /* 针对IE的Hack */
  *display: block;
  *font-size: 139px;/*约为高度的0.873，200*0.873 约为175*/
  *font-family:Arial;/*防止非utf-8引起的hack失效问题，如gbk编码*/
  }

.list_text_pic {float:left;width:140px; height:120px; vertical-align:100%;}
.list_text_pic .img-wrap {height:120px;}

#list-view h5 a {
clear:both;
  width:142px;
  overflow:hidden;
  height:18px;
  line-height:18px;
  margin-top:10px;
  font-size:12px;
   text-align:center;
  font-weight:normal;
}
#list-view span {color:red;}
#list-view h5 p {height:18px;
  line-height:18px;}
.back,.btn {
  display:block;
  clear:both;
  width:72px;
  height:21px;
  line-height:20px;
  margin:15px 0px;
  padding-left:10px;
  background:url(images/back.gif) left top no-repeat;
  text-align:center;
  color:white;
  font-size:12px;
  text-decoration: none;
  border:none;
}

.back a,.back a:hover {text-decoration: none;color:white;}

.input_d {
  width:190px;
  height:29px;
  line-height:29px;
  padding:0px 10px;
  background:url(images/input_bg_d.gif) left top no-repeat;
  border:none;
  font-size:12px;
}



.input_c {
  width:39px;
  height:21px;
  line-height:21px;
  padding:0px 10px;
  background:url(images/input_bg_c.gif) left top no-repeat;
  border:none;
  font-size:12px;
}

#addcontentuser {
  padding:5px;background:#E47C01;color:white;
}

#catid {height:27px;
  line-height:27px;border:1px solid #999;color:#333;}
.top_input{ float:left; padding-left:8px;}

.top_inputimg{ 
float:left; margin-left:8px; padding:0px 8px;height:27px;
  line-height:27px;color:white;
  background:url(images/btn.gif) right top no-repeat;border:none;
  }

.top_input input {margin:10px 0px;
	background-image: url(sm_2.gif);
	background-repeat: no-repeat;
	background-position: left;
	border:1px solid #999;color:#999;
	height:25px;
  line-height:25px;
	text-align: left;
	text-indent: 24px;
	color:#CCC;
	font-size:12px;
}


/****************评论*/
#comment {
  margin-top:20px;
  font-size:12px;
}

#comment input {font-size:12px;}

.comm {
  height:28px;
  line-height:28px;
  padding-left:35px;
  background:url(images/comment.gif) 10px 7px no-repeat;
}

.input {
  width:72px;
  height:21px;
  line-height:21px;
  padding-left:10px;
  border:none;
  font-weight:bold;
  font-size:12px;
}

#textarea {
  width:100%;
  height:50px;
  background:#FFF url(images/cmslogo.gif) right bottom no-repeat;
  border-top:1px solid #E0DDDD;
  border-right:1px solid #E0DDDD;
  border-bottom:1px solid #E0DDDD;
  border-left:1px solid #E0DDDD;
}
.comment_list {padding:0px 20px;}
.comment_list dd {font-size:12px;background:url(images/point.gif) left bottom repeat-x;}
.comment_list dt span {float:right;color:#ccc;}

.commentnumber {padding:0px 5px;color:#CC0000;}

.comment_list dt strong {color: #70AADA;}

.comment_list dd.admin_reply  {margin:10px; padding:10px;border:1px dotted #ccc; background:#FFFFEE;}

.p_info,.d_info {
  height:20px;
  line-height:20px;
  padding-left:20px;
  background:url(images/rank_1.gif) left center no-repeat;
  color:#0D61BA;
  font-size:14px;
  font-weight:bold;
}

