{template 'header.html'}
<div id="bd">
    	<div id="bd_leftg">
    	  {template 'left.html'}
    	</div>
      <div id="bd_rightg">
<div class="box">
            	{template 'position.html'}
                <div class="content">

<!-- 内容缩略图列表 -->
		{loop $archives $i $archive}
		<div class="prodg_box">
                        <a title="{$archive[stitle]}" target="_blank" href="{$archive[url]}"><img alt="{$archive[stitle]}" src="{$archive[sthumb]}" onerror='this.src="{$base_url}/{config::get('onerror_pic')}"' class="prodg"/></a><br />
             <a title="{$archive[stitle]}" target="_blank" href="{$archive[url]}" class="prodg_font">{$archive[title]}</a> 
</div>
		{/loop}
		
		<div class="clear"></div>
		<div class="blank10"></div>
		<!-- 内容列表分页 -->
		{if isset($pages)}
		{category_pagination($catid)}
		{/if}

<div class="blank30"></div>

                </div>
            </div>
            
            </div>
<div class="clear"></div>
    </div>
{template 'footer.html'}