{template 'header.html'}
<div class="box line_4">
{template 'left.html'}
<!--left_1 end-->

<div class="right_2">
<img src="{$skin_url}/hb_9.gif" style="float:left;padding:2px -3px 0px 5px;"/><h3>{$type[$typeid][typename]}</h3>
<div id="position">
<strong>{lang(nowposition)}：</strong><a title="{get('sitename')}" href="{$base_url}">{get('sitename')}</a>{loop position($typeid) $t}<a title="{$t['name']}" href="{$t.url}">{$t['name']}</a>{/loop}
</div>
<div class="r-line"></div>
<ul class="news_list">
			{loop $archives $i $archive}
			<li class="list{=$i+1}"><span class="date">{$archive[adddate]}</span><span class=date>评分{$archive[strgrade]}</span><a title="{$archive[stitle]}" target="_blank" href="{$archive[url]}">{$archive[title]}</a></li>
			{/loop}
		</ul>
		<div class="blank10"></div>
		{if isset($pages)}
		{type_pagination($typeid)}
		{/if}
<div class="blank30"></div>
		<a title="返回顶部" href="#" class="clear floatright"><img alt="返回顶部" src="{$skin_url}/gotop.gif"></a>
		<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
<!--box end-->
{template 'footer.html'}