{template 'header.html'}
<div id="bd">
    	<div id="bd_leftg">
    	  <div class="left_box3g">
            	{template 'position.html'}
                <div class="box3_yy"></div>
            <div class="box3_content">
            	<ul class="ul2d">
{loop $archives $i $sp}
<li><span class="date">{$sp[adddate]}</span><a title="{$sp[title]}" target="_blank" href="{$sp[url]}">{$sp[title]}</a></li>
{/loop}
</ul>
<div class="blank10"></div>
<!-- 内容列表分页 -->
{if isset($pages)}
{special::pagination()}
{/if}

<div class="blank30"></div>
		<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
	<div class="clear"></div>
</div>
   
          </div>
        </div>
      <div id="bd_rightg">
      	{template 'left.html'}
      </div>
      <div class="clear"></div>
    </div>
{template 'footer.html'}