{template 'header.html'}
<div id="bd">
    	<div class="bd_bg_left">
        	<div class="bd_bg_right">
            
            	<div id="bd_leftg">
                	{template 'left.html'}
                        

                </div>
                <div id="bd_rightg">
                	<div class="right_content">
                    	{template 'position.html'}
                        <div class="content">

                            <div class="content_content">
                            	<div class="pd_title">{$category[$catid][catname]}</div>
                       <div class="pd">{$category[$catid][categorycontent]}
					   <div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/images/gotop.gif"></a>
	<div class="clear"></div>
					   </div>

                        </div>
               	  </div>
                </div>
                <div class="clear"></div>
                <div class="bd_bgb">
                    <div class="bd_bgb_left">
                    <div class="bd_bgb_right"></div>
                    </div>
                </div>
            </div>
        </div>
        
<div class="clear"></div>
    </div>
{template 'footer.html'}