{template 'header.html'}
<div id="bd">
    	<div id="bdleft">
    		{template 'left.html'}
        </div>
        <div id="bd_right2">     	
                <div class="box">
                	<div class="em">
                    	{template 'position.html'}
                       <div class="pd">
					   
					<ul id="list-view">
{loop $archives $i $archive}
{if $i%4==0}<div class="clear blank5"></div>{else}{/if}
<li><div class="img-wrap"><a title="{$archive['stitle']}" target="_blank" href="{$archive['url']}"><img alt="{$archive['stitle']}" src="{$archive['sthumb']}" onerror='this.src="{$base_url}/{config::get('onerror_pic')}"' /></a></div>
<h5><a title="{$archive['stitle']}" target="_blank" href="{$archive['url']}">{$archive['title']}</a></h5>{if $archive['attr2']}{lang(price)}	:	<span>{$archive['attr2']}</span>{lang(unit)}{/if}
</li>
{/loop}
</ul>
		<div class="blank10"></div>
		{if isset($pages)}
		{category_pagination($catid)}
		{/if}

<div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
<div class="blank30"></div>
	<div class="clear"></div>
					   </div>
					   <div class="clear"></div>
                    </div>
                </div><div class="b"></div>
        </div>
        </div>
{template 'footer.html'}