{template 'header.html'}
<div id="bd">
    	<div id="bd_leftg">
        	{template 'left.html'}
          </div>
    	
		<div id="bd_rightg">
       	  <div class="bd_right_lg">
		  <div class="left_box1">
		  <div class="content2">
{loop categories($catid) $i $t}
                    <div class="title">
<div class="title_fh"><img src="{$skin_path}/rj_5.gif" /></div>
<div class="title_wd"><a title="{$t[catname]}" href="{category::url($t[catid])}">{$t[catname]}</a></div>
<div class="title_morez"><a title="{$t[catname]}" href="{category::url($t[catid])}"><img src="{$skin_path}/rj_4.gif" border="0" /></a></div>
</div>
                    

                       <div class="pd">

{loop archive($t[catid],0,0,'0,0,0',20,'aid',10,false,0) $i $archive}
			<div class="product_box">
			<a title="{$archive[stitle]}" target="_blank" href="{$archive[url]}"><img alt="{$archive[stitle]}" src="{$archive[sthumb]}" onerror='this.src="{$base_url}/{config::get('onerror_pic')}"' /></a>
			<h5><a title="{$archive[stitle]}" target="_blank" href="{$archive[url]}">{$archive[title]}</a></h5>
		</div>
			{/loop}
		
					   </div>
                      

                       

					<div class="blank10"></div>
					{/loop}
<div class="pd">
					   
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>

	</div><div class="clear"></div>
			</div> 
			</div></div>
                    </div>
		<div class="clear"></div>
    </div>
{template 'footer.html'}