 <div class="box1">
          	<div class="boxd">
            	<ul class="ul2g">
{loop categories(3) $t1}
<li><a href="{$t1[url]}" title="{$t1[catname]}">{$t1[catname]}</a></li>
{/loop}
            </ul>
            </div>
          </div>
          <div class="boxb">
          	<div class="titleg">
           	  <div class="title_left"><img src="{$skin_path}/men_20.gif" /></div>
            	<div class="title_wd"><div class="title_ico"><img src="{$skin_path}/men_10.gif" /></div><?php $t=position_p($catid=5);?>
<a href="{$t.url}" title="{$t['name']}">{$t['name']}</a>
<?php?><span class="eng">CONTACT</span></div>
                
                </div>
          	<div class="contact">
            	<div class="p">
<ul>
<li>{lang(address)}：{get(address)}</li>
<li>{lang(tel)}：{get(tel)}</li>
<li>{lang(fax)}：{get(fax)}</li> 
<li>{lang(email)}：{get(email)}</li> 
</ul>
</div>
            </div>
          </div>