{template 'header.html'}
<div id="mid">
 {template 'left.html'}
  <table width="628" border="0" align="left" cellpadding="0" cellspacing="0" style="margin-left:22px;">
    <tr>
      <td>
{template 'position.html'}
</td>
    </tr>
    <tr>
      <td height="16">&nbsp;</td>
    </tr>
    <tr>
      <td>
			
            <table width="628" border="1" cellpadding="7" cellspacing="0" bordercolor="#EDEDED" style="margin-bottom:20px;">
              <tr>
                <td bgcolor="#EDEDED"><img src="{$skin_path}/arr3.gif" width="10" height="8" align="absmiddle" style="margin-right:6px;" /><font color="#CC0000"><strong>{$category[$catid][catname]}</strong></font> --- List</td>
              </tr>
              <tr>
                <td>
                
			<div style="clear:both;padding:10px;">
{loop $archives $archive}
<div style="float:left;width:50%;height:110px;padding-bottom:30px;">
							<div class="ProductPic"><a title="{$archive[stitle]}" target="_blank" href="{$archive[url]}"><img alt="{$archive[stitle]}" src="{$archive[sthumb]}" onerror='this.src="{$base_url}/{config::get('onerror_pic')}"' /></a></div>
							<div class="ProductIntro">
								<a href="product.php?id=102"><h1><a href="{$archive[url]}">{$archive[title]}</a></h1></a>
								{cut(strip_tags($archive['content']),80)}</div>
						</div>
{/loop}
		</div>
                </td>
              </tr>
            </table>
            <div class="blank30"></div>
<!-- 内容列表分页 -->
{if isset($pages)}
{category_pagination($catid)}
{/if}
      </td>
    </tr>
  </table>
  <div style="clear:both; height:1px; font-size:1px;">&nbsp;</div>
</div>
{template 'footer.html'}