<div class="blank5"></div>
<div id="food">
<div class="foot_fonts">
{tag_网站页底关于我们等说明}
<a href="#">TOP</a>
</div>
	<p>{get(site_right)} <a title="{get('sitename')}" href="{$base_url}/">{get('sitename')}</a> All Rights Reserved. </p>
<p><a href="http://www.miibeian.gov.cn/" target="_blank">{get('site_icp')}</a>&nbsp;&nbsp;
{getcnzzcount()}</p>

{if $topid==0}<!-- 热门关键词 -->
<div class="hot_keys" style="clear:both;margin:10px 0px;text-align:center;">{lang(hotkeys)}： {gethotsearch(10)}</div>{/if}
<!-- 友情链接 -->
{if $topid==0}<select name="website" onchange="javascript:window.open(this.options[this.selectedIndex].value)" style="float:right; margin-top:10px;">
<option value="default">{lang('links')}</option>
{loop friendlink('text',0,20) $flink}
<option value="{$flink[url]}">{$flink[name]}</option>
{/loop}
</select>{/if}
</div>
</div>



<!-- 在线客服 -->
{template 'system/servers.html'}
<!-- 短信 -->
{template 'system/sms.html'}

{if get('lang_type')=='cn'}<script type="text/javascript" src="{$base_url}/js/tc.js"></script>{/if}
</body>
</html>