{template 'header.html'}
<div id="bd">
	<div id="bd_left">
    	{template 'left.html'}
    </div>
    <div id="bd_right">
      {template 'position.html'}

	 <div style="padding:10px;">


<div id="title">
<h1>“{$keyword}” </span>{lang(searchresults)}：</h1>
</div>
<div id="textDiv" style="width:710px;" class="text">

<!-- 内容_内容简介列表 -->
<ul class="news_list">
		{loop $articles $article}
		{cb_data($article)}
		<li><span class="date">{$article['adddate']}</span>[<a href="{$article[caturl]}">{$article[catname]}</a>] <a href="{$article[url]}"><?php if($keyword) echo str_replace($keyword,"<span style=color:red;font-weight:bold;>$keyword</span>",$article['title']); else { ?>{$article[title]}<?php } ?></a>
		{/loop}
	</ul>
	<div class="blank10"></div>
	<!-- 内容列表分页 -->
	<div class="pages">
		<?php echo pagination::html($record_count,5); ?>
	</div>
<div class="blank10"></div>

<div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
<div class="blank30"></div>

<div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
<div class="blank30"></div>
</div>

		<div class="clear"></div>
</div>
      </div>
      
      </div>
{template 'footer.html'}