<div id="footer">
    	<div class="footer_left"><img src="{$skin_path}/anli_12.gif" /></div>
        <div class="footer_center">
        	<div class="footer_nav"><?php $t=position_p($typeid=1);?>
<a href="{$t.url}" title="{$t['name']}">{$t['name']}</a>	|	
<?php?>
<!-- {loop archive(1,0,0,'0,0,0',20,'aid',10,false,0) $i $archive} -->
<a href="{$archive[url]}" title="{$archive[stitle]}">{$archive[stitle]}</a>	|	
<!-- {/loop} --><?php $t=position_p($typeid=5);?>
<a href="{$t.url}" title="{$t['name']}">{$t['name']}</a>	|	
<?php?>
<a href="#">TOP</a></div>
           
        </div>
</div><div class="blank5"></div>
</div><div class="blank5"></div>
 <div style="clear:both;width:980px;text-align:center;margin:0px auto;">
<!-- 页底说明 -->
{get(site_right)} <a title="{get('sitename')}" href="{$base_url}/">{get('sitename')}</a> All Rights Reserved.      
<div class="blank5"></div>
{getcnzzcount()}&nbsp;&nbsp;<a href="http://www.miibeian.gov.cn/" target="_blank">{get('site_icp')}</a>
<!-- 非商业用户请勿删除 -->

<!-- 友情链接 -->
{if $topid==0}<select name="website" onchange="javascript:window.open(this.options[this.selectedIndex].value)" style="float:right; margin-top:10px;">
<option value="default">{lang('links')}</option>
{loop friendlink('text',0,20) $flink}
<option value="{$flink[url]}">{$flink[name]}</option>
{/loop}
</select>{/if}
</div>

<div class="copyright">	{if $topid==0}<!-- 热门关键词 -->
<div class="hot_keys">{lang(hotkeys)}： {gethotsearch(10)}</div>{/if}</div>
    </div><!--fooder部结束-->
</div>

<!-- 在线客服 -->
{template 'system/servers.html'}
<!-- 短信 -->
{template 'system/sms.html'}

{if get('lang_type')=='cn'}<script type="text/javascript" src="{$base_url}/js/tc.js"></script>{/if}
</body>
</html>