{template 'header.html'}
<div id="c">
{template 'position.html'}

<div id="right">
<h1 id="title">{$special[title]}</h1>
<div id="text">


<div class="blank30"></div>
<!-- 专题图片 -->
<img src="{$special[banner]}" style="float:left;margin:0px 20px 20px 0px;" />
<!-- 专题介绍 -->
{$special[description]}

<div class="line_2"></div><div class="blank30"></div>

<!-- 内容列表开始 -->
<ul class="news_list">
{loop $archives $i $sp}
<li><span class="date">{$sp[adddate]}</span><a title="{$sp[title]}" target="_blank" href="{$sp[url]}">{$sp[title]}</a></li>
{/loop}
</ul>
<!-- 内容列表结束 -->

<div class="blank30"></div>

<!-- 列表分页开始 -->
{if isset($pages)}
{special::pagination($tag)}
{/if}
<!-- 列表分页结束 -->

<div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
<div class="blank30"></div>

</div>
</div>

{template 'left.html'}<!-- 调用通用左栏 -->

<div class="clear"></div>
</div>
{template 'footer.html'}