{template 'header.html'}
<div id="bd">
    	<div id="bd_box">
            <div class="right_box1">
           	 {template 'position.html'}
                <div class="contentg">
                	<div class="pd_title"></div>
                       <h4><span style="color:red;font-weight:bold;"> “{$keyword}” </span>的查询结果：</h4>
					   <div id="content" style="width:600px;" class="text">
					
	<ul class="news_list">
		{loop $articles $article}
		{cb_data($article)}
		<li>[<a href="{$article[typeurl]}">{$article[typename]}</a>] <a href="{$article[url]}"><?php if($keyword) echo str_replace($keyword,"<span style=color:red;font-weight:bold;>$keyword</span>",$article['title']); else { ?>{$article[title]}<?php } ?></a> ({$article['adddate']})
		{/loop}
	</ul>
	<div class="blank10"></div>
	<div class="pages">
		<?php echo pagination::html($record_count,5); ?>
	</div>
		
                </div>
            </div>
            
          </div><div class="clear"></div>


{template 'footer.html'}