{template 'header.html'}
<div id="c">
<div id="left">
{template 'left.html'}
</div>

<div id="right">
{template 'position.html'}
<div id="text">
<h1 class="title">{$category[$catid][catname]}</h1>
<div class="blank10"></div>

<div class="contenttext">

<!-- 内容 -->
{$category[$catid][categorycontent]}

<div class="blank30"></div>

{template 'ditu.html'}

</div>
<div class="blank10"></div>

</div>
</div>
<div class="clear"></div>
</div>


<script> 
function resizeImg(obj)
{ 
var obj = document.getElementById(obj); 
var objContent = obj.innerHTML;
var imgs = obj.getElementsByTagName('img'); 
if(imgs==null) return; 
for(var i=0; i<imgs.length; i++) 
{ 
if(imgs[i].width>parseInt(obj.style.width)) 
{ 
imgs[i].width = parseInt(obj.style.width);
} 
} 
} 
window.onload = function() {resizeImg('content');
} 
</script>
{template 'footer.html'}