{template 'header.html'}
<div class="box line_4">
{template 'left.html'}
<!--left_1 end-->

<div class="right_2">

{template 'position.html'}
<div id="title">
<div class="text">

<!-- 内容列表开始 -->
{loop $archives $i $archive}
<div class="news_text_pic">
<div class="list_text_pic"><div class="img-wrap"><a title="{$archive['stitle']}" target="_blank" href="{$archive['url']}">{if $archive['thumb']}<img alt="{$archive['stitle']}" src="{$archive['sthumb']}" />{else}<img src="{$base_url}/{config::get('onerror_pic')}" />{/if}</a></div></div>
<h5><span class="date">{$archive[adddate]}</span><a title="{$archive[stitle]}" href="{$archive[url]}">{$archive[title]}</a></h5>
<p>{lang(view)}：{view_js($archive[aid])}</p>
<p>{lang(strgrade)}：{$archive[strgrade]}</p>
<p>{lang(nowdownload)}：{if $archive['attachment_id']}{attachment_js($archive['aid'])}{else}{lang(NoDownload)}{/if}</p>

<div class="clear"></div>
</div>
{/loop}
<!-- 内容列表结束 -->

<div class="blank30"></div>

<!-- 内容列表分页开始 -->
{if isset($pages)}
{category_pagination($catid)}
{/if}
<!-- 内容列表分页开始 -->

</div>
			<div class="blank10"></div>
		</div>
		<div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/images/gotop.gif"></a>
	<div class="clear"></div>

</div>
<div class="clear"></div>
</div>
{template 'footer.html'}