{template 'header.html'}
<div class="box line_4">
{template 'left.html'}
<!--left_1 end-->

<div class="right_2">
{template 'position.html'}
{loop $archives $i $archive}
		<div class="news_text">
			<h5><span class=date>{$archive[adddate]}</span><a title="{$archive[stitle]}" href="{$archive[url]}">{$archive[title]}</a></h5>
			<p>{cut(strip_tags($archive['introduce']),100)}…<a title="{$archive[stitle]}" href="{$archive[url]}">[{lang(more)}]</a><p>
			<div class="clear"></div>
		</div>
		{/loop}
		<div class="blank10"></div>
		{if isset($pages)}
		{type_pagination($typeid)}
		{/if}
		<div class="blank30"></div>
		<a title="返回顶部" href="#" class="clear floatright"><img alt="返回顶部" src="{$skin_url}/gotop.gif"></a>

<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
<!--box end-->
{template 'footer.html'}