<table width="100%" border="0" cellspacing="0" cellpadding="0">

<tr>
    <td height="30" align="center" class="bgys4"><span class="baiwd14"><strong>	+	{lang(quicknav)}</strong></span></td>
  </tr>
  <tr>
    <td align="center">
    <ul class="ul2">
<!--只展开当前栏目所在一级栏目下的分类-->
<?php $__pid = getcategoryparentsid($catid);?>
{loop categories_nav() $t}

{if $t[catid]==$__pid}
<!-- {loop category::listcategorydata($__pid) $type} -->
<li><a href="{$type[url]}" title="{$type[catname]}" class="{if $type[catid]==$catid}on{/if}">{$type[catname]}</a></li>
<!-- {/loop} -->
{/if}
{/loop}
<!--只展开当前栏目所在一级栏目下的分类-->
    </ul>
    </td>
  </tr>

  

  <tr>
    <td height="30" align="center" class="bgys4"><span class="baiwd14"><strong>搜索</strong></span></td>
  </tr>
  <tr>
    <td align="center">
     <form name='search' action="<?php echo url('archive/search');?>" onsubmit="search_check();" method="post">		
		<table width="80%" border="0" cellspacing="0" cellpadding="0" align="center">
          <tr>
            <td height="10">&nbsp;</td>
          </tr>
          <tr>
            <td style="padding:0px 15px;"><input  type="text"  id="inputsearch" name="keyword" size="22" height="26" /></td>
          </tr>
          <tr>
            <td height="40" align="right" style="padding:0px 15px;">
			<input type="submit" class="s_btn" align="absmiple" name='submit' value=" " />
			</td>
          </tr>
		  <tr>
              <td height="10">&nbsp;</td>
            </tr>
        </table>
		</form>
    </td>
  </tr>

  <tr>
    <td height="30" align="center" class="bgys4"><span class="baiwd14"><strong>相关内容</strong></span></td>
  </tr>
  <tr>
    <td align="left">
    
<ul class="ul2">
	{loop archive($catid,0,0,'0,0,0',16,'aid',5,false,0) $i $archive} 
<li><a href="{$archive[url]}" title="{$archive[stitle]}">{$archive[title]}</a></li>
{/loop}
</ul>
    </td>
  </tr>

</table>
