<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>{if !empty($archive[mtitle])}{$archive[mtitle]}-{elseif !empty($archive[title])}{$archive[title]}-{/if}{if $type[meta_title]}{$type[meta_title]}-{elseif typename($type[typeid])}{typename($type[typeid])}-{/if}{if $category[$catid][meta_title]}{$category[$catid][meta_title]}-{elseif !empty($catid)}{catname($catid)}-{/if}{get('fullname')}</title>
<meta name="keywords" content="{if $archive[keyword]}{$archive[keyword]}{else}{if $type[keyword]}{$type[keyword]}{elseif $category[$catid][keyword]}{$category[$catid][keyword]}{else}{get('site_keyword')}{/if}{/if}" />
<meta name="description" content="{if $archive[description]}{$archive[description]}{else}{if $type[description]}{$type[description]}{elseif $category[$catid][description]}{$category[$catid][description]}{else}{get('site_description')}{/if}{/if}" />
<meta name="author" content="CmsEasy Team" />
<link rel="icon" href="{$base_url}/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{$base_url}/favicon.ico" type="image/x-icon" />
<link href="{$skin_path}/reset.css" rel="stylesheet" type="text/css" />
<link href="{$skin_path}/style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
<!-- 
function ResumeError()  
{ 
    return true; 
} 
window.onerror = ResumeError; 
function check()
{
if(document.search.keyword.value.length==0){
     alert("{lang(pleaceinputtext)}");
     document.search.keyword.focus();
     return false;
    }

	}
// --> 
</script>
<!--用于PNG图片在IE6下透明-->
<!--[if IE 6]>
<script src="{$skin_path}/js/png.js"></script>
<script>
  DD_belatedPNG.fix('.logo');
  DD_belatedPNG.fix(' .cfooter');
  DD_belatedPNG.fix('.cleft_box .cright');
  DD_belatedPNG.fix('.cleft_box_content .cfooter');
  DD_belatedPNG.fix('.cleft_box_content .cheader');
</script>
<![endif]--> 
<style type="text/css">
.logo {float:left; width:{get('logo_width')}px; height:{get('logo_height')}px; background:url({$base_url}/{get('site_logo')}) 10px 5px no-repeat;}
</style>
</head>

<body>
<div id="main">
<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
<div class="logo"><a title="{get(sitename)}" href="{$base_url}/"></a></div>

<div id="nav">
<div id="top">
<img src="{$skin_path}/home.gif" /><a title="{lang(sitewap)}" href="{$base_url}/wap/">{lang(sitewap)}</a>
<img src="{$skin_path}/english.gif" /><a href="<?php echo url('archive/orders');?>">{lang(shoppingcart)}</a>
<img src="{$skin_path}/contact.gif" /><a title="{lang(feedback)}" href="{url('guestbook')}" target="_blank">{lang(feedback)}</a>
{if get('lang_type')=='cn'}<img src="{$skin_path}/english.gif" /><a id="StranLink" title="繁简转换">繁体</a>{/if}
{login_js()}
</div>

<div class="nav">
<a title="{lang(backhome)}" href="{$base_url}/" class="home">{lang(homepage)}</a>
{loop categories_nav() $t}
<a title="{$t[catname]}" href="{$t[url]}"{if isset($topid) && $topid==$t[catid]} class="on"{/if}>{$t[catname]}</a>
{/loop}
</div>
</div>
</td>
  </tr>
</table>
<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
<div id="banner">
{template 'system/slide.html'}
</div>
</td>
  </tr>
</table>