<table width="1003" border="0" cellspacing="0" cellpadding="0" style="margin-top:22px;">
      <tr>
        <td width="238" align="center" valign="top" style="border-right:1px solid #DDDDDD;"><table width="208" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left"><img src="{$skin_path}/bt7.gif" width="80" height="13" /></td>
          </tr>
          <tr>
            <td align="left"><img src="{$skin_path}/tt.gif" width="1" height="8" /></td>
          </tr>
          <tr>
            <td align="left" style="background-color:#FFFFFF; border:1px solid #DDDDDD; padding:8px; padding-left:8px;">
			<!--只展开当前栏目所在一级栏目下的分类-->
<?php $__pid = getcategoryparentsid($catid);?>
{loop categories_nav() $t}

{if $t[catid]==$__pid}
<!-- {loop category::listcategorydata($__pid) $type} -->
<a href="{$type[url]}" title="{$type[catname]}" class="menu">{$type[catname]}</a>
<!-- {/loop} -->
{/if}
{/loop}
<!--只展开当前栏目所在一级栏目下的分类-->
</td>
</tr>
          <tr>
            <td height="18" align="left">&nbsp;</td>
          </tr>
        </table>

<table width="208" border="0" align="left" cellpadding="0" cellspacing="0" style="margin-left:14px; margin-top:22px; display:inline">
  <tr>
    <td align="left" style="font-weight:bold;"> | {lang(search)}</td>
  </tr>
  <tr>
    <td align="left"><img src="{$skin_path}/tt.gif" width="1" height="8" /></td>
  </tr>
  <tr>
    <td height="62" align="left" style="border:1px solid #DDDDDD; background-color:#FFFFFF; border-left:1px dotted #DDDDDD; border-right:1px dotted #DDDDDD;">
<form name='search_form' action="<?php echo url('archive/search');?>" onsubmit="search_check();" method="post">
      <table width="206" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="55" rowspan="2" align="center"><img src="{$skin_path}/seararr.gif" width="42" height="40" /></td>
          <td width="151" style="color:#999999;">请输入关键字：</td>
        </tr>
        <tr>
          <td>
		  <input name="keyword" type="text" align="absmiple" id="keys" style="vertical-align:middle;" size="16" />
<input type="image" src="{$skin_path}/searbtn.jpg" style="border:0px none; vertical-align:middle;"  align="absmiple" name='submit' value="搜索" />
</td>
        </tr>
      </table>
    </form></td>
  </tr>
  <tr>
    <td height="20" align="left">&nbsp;</td>
  </tr>
 
  <tr>
    <td align="left">  <a href="{url('guestbook')}"><img src="{$skin_path}/guestfeedback.jpg" alt="{lang(feedback)}" width="208" height="48" border="0" /></a></td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
  </tr>
</table>