{template 'header.html'}
<div class="box line_4">
{template 'left.html'}
<div class="right_2">
{template 'position.html'}

<div id="title">
			<h1>{$category[$catid][catname]}</h1>
			<div id="text" style="width:690px;">

<!-- 内容 -->
{$category[$catid][categorycontent]}

<div class="blank30"></div>

{template 'ditu.html'}

</div>
			<div class="blank10"></div>
		</div>
		<div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/images/gotop.gif"></a>
	<div class="clear"></div>

</div>
<div class="clear"></div>
</div>

<script> 
function resizeImg(obj)
{ 
var obj = document.getElementById(obj); 
var objContent = obj.innerHTML;
var imgs = obj.getElementsByTagName('img'); 
if(imgs==null) return; 
for(var i=0; i<imgs.length; i++) 
{ 
if(imgs[i].width>parseInt(obj.style.width)) 
{ 
imgs[i].width = parseInt(obj.style.width);
} 
} 
} 
window.onload = function() {resizeImg('content');
} 
</script>
{template 'footer.html'}