{template 'header.html'}
<div class="box line_4">
{template 'left.html'}
<div class="right_2">
{template 'position.html'}

<div id="title">
			<h1>{$category[$catid][catname]}</h1>
			<div id="text" style="width:710px;">{$category[$catid][categorycontent]}</div>
			<div class="blank10"></div>
		</div>
		<div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/images/gotop.gif"></a>
	<div class="clear"></div>

</div>
<div class="clear"></div>
</div>
<!--box end-->
{template 'footer.html'}