{template 'header.html'}
<div id="bd">
 {template 'left.html'}<!-- 调用通用左栏 -->
<div id="bd_right">
      	<div class="box">
            {template 'position.html'}
            <div class="content">

                       <div class="pd">
<div class="pd_title"><span style="color:red;font-weight:bold;"> "{$keyword}" </span>{lang(searchresults)}：</div>
                
                <ul class="ul2g">
                {loop $articles $article}
		        {cb_data($article)}
                    <li><span class="date">{$article['adddate']}</span> <a href="{$article[url]}"><?php if($keyword) echo str_replace($keyword,"<span style=color:red;font-weight:bold;>$keyword</span>",$article['title']); else { ?>{$article[title]}<?php } ?></a></li>
                {/loop}
              </ul>

	<div class="blank10"></div>
	<!-- 内容列表分页 -->
	<div class="pages">
		<?php echo pagination::html($record_count,5); ?>
	</div>
</div>
            </div>
            </div>
      </div>
      <div class="clear"></div>
    </div>
{template 'footer.html'}