{template 'header.html'}

    <div id="bd">
    	
      <div id="bd_right">
      	<div class="box">

{template 'system/slide.html'}

</div>
        <div class="bd_right1">
   		  <div class="box1">
           	<div class="titleg"><div class="title_wd"><?php $t=position_p($catid=1);?><h2><a href="{$t.url}" title="{$t['name']}">{$t['name']}</a></h2><span class="title_more1"><a href="{$t.url}" title="{$t['name']}">{lang(more)}</a></span><?php?></div>
           	</div>
                <div class="content">
                	<div class="p1"><span class="chengwd"><strong>{get(sitename)}</strong></span>. 
{tag_公司简介}
</div>
                </div>
       	  </div>
                <div class="box1">
            	<div class="titlegg"><div class="title_wd"><?php $t=position_p($catid=3);?><h2><a href="{$t.url}" title="{$t['name']}">{$t['name']}</a></h2><span class="title_more1"><a href="{$t.url}" title="{$t['name']}">{lang(more)}</a></span><?php?></div>
            	</div>
                <div class="content">
                	{loop archive(3,0,0,'0,0,0',20,'aid',6,true,0) $i $archive}<div class="prod_box">
                     <a href="{$archive[url]}" title="{$archive[stitle]}"><img src="{$archive[sthumb]}" alt="{$archive[stitle]}" class="prod" /></a><br />
                    <a href="{$archive[url]}" class="prod_font">{$archive[title]}</a>
                  </div> {/loop}
                 
<div class="clear"></div>
                </div>
            	</div>
        </div>
      </div>

<div id="bd_left">
        	<div class="box1">
            	<div class="title"><div class="title_wd"><?php $t=position_p($catid=2);?><h2><a href="{$t.url}" title="{$t['name']}">{$t['name']}</a></h2><span class="title_more1"><a href="{$t.url}" title="{$t['name']}">{lang(more)}</a></span><?php?></div>
            	</div>
                <div class="content">
                    <ul class="ul2">
                    {loop archive(2,0,0,'0,0,0',16,'aid',6,false,0) $i $archive} 
<li><a href="{$archive[url]}" title="{$archive[stitle]}">{$archive[title]}</a>{$archive[adddate]}</li>
{/loop}

                    </ul>
                </div>
            </div>
            
            <div class="box1">
            	<div class="title1"><?php $t=position_p($catid=3);?>
<a href="{$t.url}" title="{$t['name']}">{$t['name']}</a>
<?php?></div>
                <div class="content">
                	<ul class="ul2">
                   {loop categories(3) $t1}
 <li><a href="{$t1[url]}" title="{$t1[catname]}">{$t1[catname]}</a></li>
{/loop}
                    </ul>
                </div>
            </div>
            
            <div class="box1">
           	  <div class="title1">{lang(contactus)}</div>
                <div class="content"><div class="p1">
				<ul>
				<li><strong>{lang(address)}：</strong><br />{get(address)}</li>
<li><strong>{lang(tel)}：</strong>{get(tel)}</li>
<li><strong>{lang(fax)}：</strong>{get(fax)}</li> 
<li><strong>{lang(email)}：</strong>{get(email)}</li> 
					</ul>
					</div>
                </div>
            </div>
            
            <div class="box1">
            	<div class="title2"><div class="title2_wd">{lang(links)}</div></div>
                <div class="content">
                	<ul class="ul2g">
                    {loop friendlink('text',0,20) $flink}
<li>{$flink[link]}</li>
{/loop}
                    </ul>
                </div>
            </div>
            
        </div>

	  <div class="blank10"></div>
<div class="clear"></div>
    </div>
    <!--bd部结束-->
   

{template 'footer.html'}
