/*list*/
.taodi_mainbox { width:950px; clear:both; margin:5px auto; background:url(../img/orange/950bg_taodi.gif) repeat-y; border-top:1px #e4e4e4 solid; border-bottom:1px #e4e4e4 solid; }
.taodi_mainboxl { width:190px; float:left;}
.taodi_mainboxr { width:760px; float:right;}
.taodi_left_catalogs { width:188px; margin:0 auto; clear:both;}
.taodi_left_catalogs h2 {width:188px;height:28px;border-bottom:1px #e4e4e4 solid;background:url(../img/orange/menu_top.gif);font-size:14px;text-align:center;margin-top:0;margin-bottom:0;color: #FFFFFF;}
.taodi_left_catalogs h2 span { line-height:28px;}
.taodi_left_catalogs ul { width:188px;}
.taodi_left_catalogs ul li {line-height:24px;text-align:left;height:24px;border-bottom:1px #e4e4e4 solid;background-image: url(../img/orange/dot.gif);background-repeat: no-repeat;background-position: 5px 1px;padding-left:18px;}
.fenlei{font-weight: bold; font-size: 14px; color: #FF6600;}
.fenlei a{font-weight: bold; font-size: 14px; color: #FF6600;}
.fenlei01{background-color: #FFECF0;}
.fenlei02{background-color: #F0FFF0;}
.fenlei03{background-color: #FFFFE1;}
.fenlei04{background-color: #F0F0FF;}

.taodi_right_catalogs { margin:5px auto; clear:both; }
.taodi_right_catalogs h2 { line-height:26px; height:26px; font-size:12px; text-align:left;}
.taodi_right_catalogs ul { width:948px; margin:0 ; border:1px solid #cfcfcf; background:#FFF7F7;}
.taodi_right_catalogs ul li { width:184px; float:left; text-align:left; color:#999; line-height:22px; height:22px; overflow:hidden;}
.taodi_right_catalogs ul li a { padding-left:10px; color:#333333;}

.taodi_tips {width:948px;height:24px;border:1px #FFDF70 solid;background:#FEFEE9;line-height:24px;margin:5px 0px 0px 0px;}
.taodi_tips .listweizhi{float:left; padding-left:10px;}
.taodi_tips .listweizhi a{padding-right:3px; padding-left:3px; color:#ff5500;}
.taodi_tips .shuliang{float:left;padding-left:20px;}
.taodi_tips .shuliang span{ color:#ff5500; padding-left:3px; padding-right:3px;}

.taodi_choose {
	padding-top: 5px;
	width: 930px;
	height: 35px;
	overflow: hidden;
}
.taodi_choose ul { width:950px; height:34px; }
.taodi_choose ul { width:950px; background:url(../img/orange/choosebg.gif) repeat-x; height:34px;}
.taodi_choose ul li { float:left; background:url(../img/orange/nochoose.gif) no-repeat 0 2px; width:100px; height:34px; line-height:30px; text-align:center; margin-right:6px;}
#this_choose { background:url(../img/orange/choose.gif) no-repeat;}
#this_choose a { font-weight:bold; color:#fff;}

.staodi_listbox { width:950px; margin:5px 0px 0px 0px; clear:both;overflow:hidden;}
.staodi_listbox dl { width:980px; margin:0 auto; clear:both;}
.staodi_listbox dl dt { width:316px; float:left; height:390px;  margin-bottom: 8px;}
.staodi_listbox dl dt em { width:310px; height:310px; border:1px #ccc solid; display:block; overflow:hidden; margin:0 auto;}
.staodi_listbox dl dt em img { margin:3px;}
.staodi_listbox dl dt span { color:red;}
.staodi_listbox dl dt p { line-height:18px; margin:5px auto; margin-bottom:5px; color:#333333; text-align:left; width:315px; }
.staodi_listbox dl dt p.taodi_title a { color:#3366cc;}
.staodi_listbox dl dt p.taodi_nick b { color:#ad0101; padding-left:5px; font:bold 14px Georgia; height:15px; overflow:hidden; }
.staodi_listbox .taodi_title { width:310px; text-align:left; line-height:18px; height:36px; overflow:hidden;}
.staodi_listbox .taodi_title span { color:red;}
.staodi_listbox .taodi_sales b { color:#739F24;}

.taodi_nick {height:20px; overflow:hidden; }


.condition { width:948px; border:1px #C0DBF8 solid; height:33px; background:url(../img/orange/conditionbg.gif) repeat-x; margin-bottom:0;overflow:hidden;}
.condition ul { width:930px; clear:both; margin:0 ;}
.condition ul li { float:left; line-height:33px;}
.condition .tilist { margin-left:5px; background:url(../img/orange/condition_right.gif) no-repeat right; width:110px;}
.condition .by-price a { margin-right:5px;color:#FF3300;}
.channel{width:950px;margin:5px auto;clear:both;}
.page { margin:10px auto; margin-bottom:10px;}
.page a { border:1px #E4E4E4 solid; padding:3px 6px 3px 6px; color:#3366cc;}
.page em { font-size:14px;padding:3px 6px 3px 6px; border:1px #ff3300 solid;}

#pages { clear:both;text-align:center; height:28px; line-height:28px; margin-top:20px; margin-bottom:20px; font-size:14px;font-family:"ו";}
#pages span,#pages u {padding:2px 4px;margin:4px 8px 0 0;background:#ad0101;border:1px solid #B9B7B7; color:#fff; font-weight:bold; }
#pages a{ padding:2px 4px;margin:2px 4px 0 0; border:1px solid #B9B7B7; color:#8B8A8A; }
#pages .active{background:#fff;border:1px solid #B9B7B7;color:#8B8A8A;font-weight:bold;padding:2px 4px;margin:2px 4px 0 0;}
#pages a:visited{color:#8B8A8A;text-decoration:none; }
#pages a:hover{color:#fff;background:#ad0101;border:1px solid #B9B7B7;}
