{template 'header.html'}
<div class="box line_4">
{template 'left.html'}
<!--left_1 end-->

<div class="right_2">
<div class="t_2 mb10"><div><h3>{$category[$catid][catname]}</h3><span>Archive list</span></div></div>
{template 'position.html'}


	<div class="blank10"></div>
	<h4><span style="color:red;font-weight:bold;"><span style="color:red;font-weight:bold;"> “{$keyword}” </span>{lang(searchresults)}：</h4>
	<ul class="news_list">
		{loop $articles $article}
		{cb_data($article)}
		<li><span class="date">{$article['adddate']}</span>[<a href="{$article[caturl]}">{$article[catname]}</a>] <a href="{$article[url]}"><?php if($keyword) echo str_replace($keyword,"<span style=color:red;font-weight:bold;>$keyword</span>",$article['title']); else { ?>{$article[title]}<?php } ?></a>
		{/loop}
	</ul>
	<div class="blank10"></div>
	<div class="pages">
		<?php echo pagination::html($record_count,5); ?>
	</div>
<div class="blank30"></div>
		<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
	<div class="clear"></div>

</div>
<div class="clear"></div>
</div>
<!--box end-->
{template 'footer.html'}