 <div id="footer">
    	<div class="footerl"><img src="{$skin_path}/hy_17.gif" /></div>
        <div class="p1"><?php $t=position_p($typeid=1);?>
<a href="{$t.url}" title="{$t['name']}">{$t['name']}</a>	|	
<?php?>
<!-- {loop archive(1,0,0,'0,0,0',20,'aid',10,false,0) $i $archive} -->
<a href="{$archive[url]}" title="{$archive[stitle]}">{$archive[title]}</a>	|	
<!-- {/loop} --><?php $t=position_p($typeid=5);?>
<a href="{$t.url}" title="{$t['name']}">{$t['name']}</a>	|	
<?php?>
<a href="#">TOP</a><br />Copyright © 2010 <a href="{$base_url}/">{get(sitename)}</a>. All Rights Reserved.
<a href="http://www.miibeian.gov.cn/" target="_blank">{get('site_icp')}</a></div>
   </div>
<!-- 非商业用户请勿删除 -->
<div class="copyright">&nbsp;&nbsp;{getcnzzcount()}</div>
{template 'system/servers.html'}
</div>
</body>
</html>