{template 'header.html'}
<div class="clear"></div>
        <div id="bd">
        	<div id="bd_leftg">
            	
            	{template 'left.html'}

			</div>              
            <div id="bd_rightg">
            	{template 'position.html'}
              <div class="content">
                    <div class="pd_title"><span style="color:red;font-weight:bold;"> “{$keyword}” </span>{lang(searchresults)}：</div>
                       <div id="content" style="width:640px;" class="pd">
<div class="blank10"></div>

	<ul class="news_list">
		{loop $articles $article}
		{cb_data($article)}
		<li><span class="date">{$article['adddate']}</span>[	<a href="{$article[caturl]}">{$article[catname]}</a>	]	<a href="{$article[url]}"><?php if($keyword) echo str_replace($keyword,"<span style=color:red;font-weight:bold;>$keyword</span>",$article['title']); else { ?>{$article[title]}<?php } ?></a>
		{/loop}
	</ul>
	<div class="blank10"></div>
	<div class="pages">
		<?php echo pagination::html($record_count,5); ?>
	</div>
<div class="blank30"></div>
		<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>

	<div class="clear"></div>
</div>
                </div>
          </div>
        </div>
{template 'footer.html'}