{template 'header.html'}
<div id="bd">
		<div class="left_box">    	
            {template 'left.html'}
   		</div>
    	<div id="bd_rightg">
          {template 'position.html'}
                    <div class="content1">
                       <div class="pd">
					  <div id="content" style="width:640px;" class="text">
<!-- 专题图片 -->
<img src="{$special[banner]}" style="float:left;margin:0px 20px 20px 0px;" />
<!-- 专题介绍 -->
{$special[description]}
<div class="clear"></div>
</div>
<!-- 内容_内容简介列表 -->
<ul class="news_list">
{loop $archives $i $sp}
<li><span class="date">{$sp[adddate]}</span><a title="{$sp[title]}" target="_blank" href="{$sp[url]}">{$sp[title]}</a></li>
{/loop}
</ul>
<div class="blank10"></div>
<!-- 内容列表分页 -->
{if isset($pages)}
{special::pagination()}
{/if}

</div>

					   <div class="blank30"></div>
		<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/images/gotop.gif"></a>
	<div class="clear"></div>
					   </div>
          </div>
    	</div>
    </div>
<div class="clear"></div>
{template 'footer.html'}