{template 'header.html'}
<div id="bd">
    	<div id="bd_leftg">
    	  <div class="left_box3g">
            	{template 'position.html'}
                <div class="box3_yy"></div>
            <div class="box3_content">
            	<ul class="ul2d">
		{loop $articles $article}
		{cb_data($article)}
		<li><a href="{$article[typeurl]}">[{$article[typename]}] </a><a href="{$article[url]}"><?php if($keyword) echo str_replace($keyword,"<span style=color:red;font-weight:bold;>$keyword</span>",$article['title']); else { ?>{$article[title]}<?php } ?></a> ({$article['adddate']})
		{/loop}
	</ul>
	<div class="blank10"></div>
	<div class="pages">
		<?php echo pagination::html($record_count,5); ?>
	</div>



<div class="blank30"></div>
		<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
	<div class="clear"></div>

</div>
      </div>
        </div>

      <div id="bd_rightg">
      	{template 'left.html'}
      </div>
      <div class="clear"></div>
    </div>
{template 'footer.html'}