{template 'header.html'}
  <div id="bd">
    	<div id="bd_left">
    	 {template 'left.html'}
   	  </div>
      <div id="bd_right">
        <div class="boxa">
          	{template 'position.html'}
          <div class="content1">
           	  <div class="pd_title"></div>
                       <div class="pd">
<div style="text-align:center;color:red;"><?php if(hasflash()) { ?>
<?php echo showflash(); ?>
<?php } ?>
</div>
<style>
table tr td {line-height:32px;}
table input {height:16px;font-size:14px;line-height:16px;}
</style>
<form method="post" action="" name="form1">
		  <table width="650" border="0" align="center" cellpadding="7" cellspacing="0" style="font-size:14px;">
             <tr>
                <td width="100">&nbsp;&nbsp;&nbsp;Name：</td>
                <td>{form::input('nickname',get('username'))}
                <span style="color:#FF0000"> *</span></td>
                <td width="100"></td>
              </tr>
			  <tr>
                <td width="100">&nbsp;&nbsp;&nbsp;TEL：</td>
                <td>{form::input('guesttel',get('guesttel'))}
                <span style="color:#FF0000"> *</span></td>
                <td width="100"></td>
              </tr>
			  <tr>
                <td width="100">&nbsp;&nbsp;&nbsp;E-mail：</td>
                <td>{form::input('guestemail',get('guestemail'))}
                <span style="color:#FF0000"> *</span></td>
                <td width="100"></td>
              </tr>
			  <tr>
                <td width="100">&nbsp;&nbsp;&nbsp;QQ：</td>
                <td>{form::input('guestqq',get('guestqq'))}
                <span style="color:#FF0000"> *</span></td>
                <td width="100"></td>
              </tr>
			  {loop $field $f}
<?php
 $name=$f['name'];
 if($name==$primary_key) continue; ?>
<tr>
                <td>&nbsp;&nbsp;&nbsp;{$name|lang}：</td>
                <td colspan="2">{form::getform($name,@$form,$field,@$data)} </td>
              </tr>
 {/loop}
  <tr>
                <td colspan="3" align="center" height="10">&nbsp;
                  </td>
              </tr>
            
              <tr>
                <td>&nbsp;&nbsp;&nbsp;Authcode：</td>
                <td colspan="2"><span style="float:left;">{verify()}</span><span style="float:left;padding-left:10px;"><input type='text' id="verify"  name="verify" size="10" style="height:16px;" /></span><span style="color:#FF0000;float:left;">*</span>&nbsp;&nbsp;&nbsp;</td>
              </tr>
			  <tr>
                <td colspan="3" align="center" height="10">&nbsp;
                  </td>
              </tr>
              <tr>
                <td colspan="3" align="center"><input type="submit" name="submit" value="Submit" style="float:right;padding:2px; background:none; border:0px none; background-color:#DDDDDD; color:#000000; width:70px;height:20px;line-height:20px;font-size:12px;" />
                  </td>
              </tr>
            </table>
</form>
		<div class="blank30"></div>


</div>

            </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
{template 'footer.html'}